<amexio-fieldset [collapsible]="true" title="Employee Registration">
  <amexio-row>
    <amexio-column [size]="6">
      <amexio-text-input [fieldLabel]="'Name'" name="country"
                         [placeholder]="'Enter name'"
                         [enablePopOver]="true"
                         [iconFeedBack]="true"
                         [allowBlank]="false" [errorMsg]="'Please enter name'"
                         [minLength]="3" [maxLength]="15" [minErrorMsg]="'Name should be minimum 3 characters'"
                         [maxErrorMsg]="'Name should be less than 15 characters'"
      >
      </amexio-text-input>
    </amexio-column>
    <amexio-column [size]="6">
      <amexio-text-input [fieldLabel]="'Surname'" name="name"
                         [placeholder]="'Enter surname'"
                         [enablePopOver]="true"
                         [iconFeedBack]="true"
                         [allowBlank]="false" [errorMsg]="'Please enter Surname'"
                         [minLength]="3" [maxLength]="15" [minErrorMsg]="'Surname should be minimum 3 characters'"
                         [maxErrorMsg]="'Surname should be less than 15 characters'"
      >
      </amexio-text-input>
    </amexio-column>
  </amexio-row>
  <amexio-row>
    <amexio-column [size]="6">

      <amexio-textarea-input [fieldLabel]="'Address'" name="Address"
                             [placeholder]="'Enter address'"
                             [errorMsg]="'Please enter address'"
                             [iconFeedBack]="true"
                             [noOfrows]="'1'" [noOfCols]="'2'"
                             [allowBlank]="false" [enablePopOver]="true"

      >
      </amexio-textarea-input>


    </amexio-column>

  </amexio-row>

</amexio-fieldset>
