<amexio-fieldset [collapsible]="true" title="Employee Registration">
  <amexio-row>
    <amexio-column [size]="6">
      <amexio-text-input [fieldlabel]="'Name'" name="country"
                         [placeholder]="'Enter name'"
                         [enablepopover]="true"
                         [iconfeedback]="true"
                         [allowblank]="false" [errormsg]="'Please enter name'"
                         [minlength]="3" [maxlength]="15" [minerrormsg]="'Name should be minimum 3 characters'"
                         [maxerrormsg]="'Name should be less than 15 characters'"
      >
      </amexio-text-input>
    </amexio-column>
    <amexio-column [size]="6">
      <amexio-text-input [fieldlabel]="'Surname'" name="name"
                         [placeholder]="'Enter surname'"
                         [enablepopover]="true"
                         [iconfeedback]="true"
                         [allowblank]="false" [errormsg]="'Please enter Surname'"
                         [minlength]="3" [maxlength]="15" [minerrormsg]="'Surname should be minimum 3 characters'"
                         [maxerrormsg]="'Surname should be less than 15 characters'"
      >
      </amexio-text-input>
    </amexio-column>
  </amexio-row>
  <amexio-row>
    <amexio-column [size]="6">

      <amexio-textarea-input [fieldlabel]="'Address'" name="Address"
                             [placeholder]="'Enter address'"
                             [errormsg]="'Please enter address'"
                             [iconfeedback]="true"
                             [rows]="'1'" [columns]="'2'"
                             [allowblank]="false" [enablepopover]="true"

      >
      </amexio-textarea-input>


    </amexio-column>

  </amexio-row>

</amexio-fieldset>
