<ng-container *ngIf="comData">
  <amexio-card [header]="true" [header-align]="'left'">
    <amexio-header>
      {{comData.title}}
    </amexio-header>
    <amexio-body>
      <span>
        {{comData.description}}
      </span>
      <amexio-tab-view [closable]="true">
        <amexio-tab title="Demo" [active]="true" [closable]="false" [disabled]="false">
          <ng-content select="amexio-api-demo"></ng-content>
        </amexio-tab>

        <ng-container *ngIf="comData.apiRefMetadata &&  comData.apiRefMetadata.length > 0">
          <amexio-tab title="Api Reference" [active]="false" [closable]="false" [disabled]="false">
            <ng-content select="amexio-api-reference"></ng-content>
            <amexio-api-reference [data]="comData.apiRefMetadata"></amexio-api-reference>
           
          </amexio-tab>
        </ng-container>

        <amexio-tab title="Source Code" [active]="false" [closable]="false" [disabled]="false">
          <amexio-api-sourcecode [html-url]="comData.sourceMetadata.htmlUrl" [ts-url]="comData.sourceMetadata.tsUrl"
            [dynamic-url]="comData.sourceMetadata.dynamicUrl" [module-url]="comData.sourceMetadata.moduleUrl"
            [data-source-url]="comData.sourceMetadata.datasourceUrl">
          </amexio-api-sourcecode>
        </amexio-tab>

        <amexio-tab title="Live" [active]="false" [closable]="false" [disabled]="comData.liveMetadata.disabled">
          <p align="center">AmexioSandbox</p>
          <amexio-api-livedemo [disabled]="false" 
          
          [stackblitz-url]="comData.liveMetadata.stackblitzUrl" 
          [stackblitz-url1]="comData.liveMetadata.stackblitzUrl1" 
          [stackblitz-url2]="comData.liveMetadata.stackblitzUrl2" 

          
          >
          </amexio-api-livedemo>
        </amexio-tab>

      </amexio-tab-view>
    </amexio-body>
  </amexio-card>
</ng-container>