<ng-container *ngIf="comData">
  <amexio-card [header]="true" [header-align]="'left'">
    <amexio-header>
      {{comData.title}}
    </amexio-header>
    <amexio-body>
        <span>
            {{comData.description}}
        </span>
      <amexio-tab-view [closable]="false">
        <amexio-tab title="Demo" [active]="false" [closable]="false" [disabled]="false">
          <ng-content select="amexio-api-demo"></ng-content>
        </amexio-tab>

        <amexio-tab title="Api Reference" [active]="true" [closable]="false" [disabled]="false">
          <amexio-api-reference [data]="comData.apiRefMetadata" ></amexio-api-reference>
        </amexio-tab>

        <amexio-tab title="Source Code" [active]="false" [closable]="false" [disabled]="false">
          <amexio-api-sourcecode
            [html-url]="comData.sourceMetadata.htmlUrl"
            [ts-url]="comData.sourceMetadata.tsUrl"
            [data-source-url]="comData.sourceMetadata.datasourceUrl">
          </amexio-api-sourcecode>
        </amexio-tab>

        <amexio-tab title="Live" [active]="false" [closable]="false" [disabled]="comData.liveMetadata.disabled">
          <p align="center">AmexioSandbox</p>
          <amexio-api-livedemo [disabled]="false" [stackblitz-url]="comData.liveMetadata.stackblitzUrl">
          </amexio-api-livedemo>
        </amexio-tab>

      </amexio-tab-view>
    </amexio-body>
  </amexio-card>
</ng-container>






