<amexio-row>
  <amexio-column size="1">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="2">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="3">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="4">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="5">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="6">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="7">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="8">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="9">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="10">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="11">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="12">
    <amexio-card><amexio-body>SPAN 1</amexio-body></amexio-card>
  </amexio-column>
</amexio-row>
<amexio-row>
  <amexio-column size="4">
    <amexio-card><amexio-body>SPAN 4</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="4">
    <amexio-card><amexio-body>SPAN 4</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="4">
    <amexio-card><amexio-body>SPAN 4</amexio-body></amexio-card>
  </amexio-column>
</amexio-row>
<amexio-row>
  <amexio-column size="6">
    <amexio-card><amexio-body>SPAN 6</amexio-body></amexio-card>
  </amexio-column>
  <amexio-column size="6">
    <amexio-card><amexio-body>SPAN 6</amexio-body></amexio-card>
  </amexio-column>
</amexio-row>
<amexio-row>
  <amexio-column size="12">
    <amexio-card><amexio-body>SPAN 12</amexio-body></amexio-card>
  </amexio-column>
</amexio-row>
