<amexio-card header="true">
    <amexio-header>
        Grid Layout
    </amexio-header>
    <amexio-body>
        <p>CSS Grid Layout introduces a two-dimensional grid system to CSS. Grids can be used to layout major page areas or
            small user interface elements.</p>
        <amexio-tab-view>
            <amexio-tab title="Demo" active="true">
                <amexio-row>
                    <amexio-column size="12">
                        <amexio-card [header]="true">
                            <amexio-header>
                                Grid Layout
                            </amexio-header>
                            <amexio-body>
                                <amexio-layout-grid [layout]="'Layout1'">
                                    <amexio-grid-item style="border: 1px dashed black; " [name]="'gridheader'">Header</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridmenu'">Menu</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridmain'">Main </amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridright'">Right</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridfooter'">Footer</amexio-grid-item>
                                </amexio-layout-grid>
                            </amexio-body>
                        </amexio-card>
                        <amexio-card [header]="true">
                            <amexio-header>
                                Grid Layout
                            </amexio-header>
                            <amexio-body>
                                <amexio-layout-grid [layout]="'Layout2'">
                                    <amexio-grid-item style="border: 1px dashed black; " [name]="'gridheader'">Header</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridmenu'">Menu</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridmain'">Main </amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridright'">Right</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridfooter'">Footer</amexio-grid-item>
                                </amexio-layout-grid>
                            </amexio-body>
                        </amexio-card>
                        <amexio-card [header]="true">
                            <amexio-header>
                                Grid Layout
                            </amexio-header>
                            <amexio-body>
                                <amexio-layout-grid [layout]="'Home'">
                                    <amexio-grid-item  [name]="'gridheader'">
                                        <amexio-button [label]="'Home'" [type]="'transparent'" [tooltip]="'Home'" [size]="'small'">
                                        </amexio-button>&nbsp;&nbsp;
                                        <amexio-button [label]="'About'" [type]="'transparent'" [tooltip]="'About'" [size]="'small'">
                                        </amexio-button>&nbsp;&nbsp;
                                        <amexio-button [label]="'Gallary'" [type]="'transparent'" [tooltip]="'Gallary'" [size]="'small'">
                                        </amexio-button>&nbsp;&nbsp;
                                        <amexio-button [label]="'Content'" [type]="'transparent'" [tooltip]="'Content'" [size]="'small'">
                                        </amexio-button>&nbsp;&nbsp;
                                        <amexio-button [label]="'Blog'" [type]="'transparent'" [tooltip]="'Blog'" [size]="'small'">
                                        </amexio-button>&nbsp;&nbsp;
                                        <amexio-button [label]="'References'" [type]="'transparent'" [tooltip]="'References'" [size]="'small'">
                                        </amexio-button>









                                    </amexio-grid-item>
                                    <amexio-grid-item  [name]="'gridtitle'">
                                        
                                            <amexio-panel
                                            [header]="true"
                                            [title]="'title'"
                                            [expanded]="true"
                                            (onClick)="functionName($event)">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book .
                                            
                                        </amexio-panel>
                                        
                                        
                                        
                                        
                                        </amexio-grid-item>
                                    <amexio-grid-item  [name]="'gridmain'">
                                            <amexio-panel
                                            [header]="true"
                                            [title]="'title'"
                                            [expanded]="true"
                                            (onClick)="functionName($event)">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            
                                            
                                        </amexio-panel>
                                        
                                        
                                        
                                        
                                        
                                         </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridright1'">
                                            <amexio-panel
                                                [header]="true"
                                                [title]="'title'"
                                                [expanded]="true"
                                                (onClick)="functionName($event)">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                
                                            </amexio-panel>





                                        
                                    </amexio-grid-item>
                                    <amexio-grid-item  [name]="'gridright2'">
                                            <amexio-panel
                                            [header]="true"
                                            [title]="'title'"
                                            [expanded]="true"
                                            (onClick)="functionName($event)">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            
                                        </amexio-panel>
                                    </amexio-grid-item>
                                    <amexio-grid-item  [name]="'gridright3'">
                                            <amexio-panel
                                            [header]="true"
                                            [title]="'title'"
                                            [expanded]="true"
                                            (onClick)="functionName($event)">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            
                                        </amexio-panel>
                                    </amexio-grid-item>
                                    <amexio-grid-item  [name]="'gridmenu'">
                                            <amexio-panel
                                            [border]="false"
                                            [header]="true"
                                            [title]="'title'"
                                            [expanded]="true"
                                            (onClick)="functionName($event)">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                                                     
                                            
                                        </amexio-panel>
                                        
                                        
                                        
                                        </amexio-grid-item>
                                </amexio-layout-grid>
                            </amexio-body>
                        </amexio-card>
                    </amexio-column>
                </amexio-row>
            </amexio-tab>
            <amexio-tab title="API Reference">
                <amexio-datagrid title="Properties<amexio-layout-grid>" [enable-column-fiter]="false" [http-method]="'get'" [http-url]="'assets/apireference/data/gridlayout.json'"
                    [data-reader]="'properties'" [enable-data-filter]="false">
                    <amexio-data-table-column [data-index]="'name'" [width]="20" [data-type]="'string'" [hidden]="false" [text]="'Name'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'version'" [width]="20" [data-type]="'string'" [hidden]="false" [text]="'Version'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'type'" [width]="10" [data-type]="'string'" [hidden]="false" [text]="'Type'"></amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'default'" [width]="10" [data-type]="'string'" [hidden]="false" [text]="'Default'"></amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'description'" [width]="45" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>
                <amexio-datagrid title="Properties<amexio-grid-item>" [enable-column-fiter]="false" [http-method]="'get'" [http-url]="'assets/apireference/data/gridlayout.json'"
                    [data-reader]="'childproperties'" [enable-data-filter]="false">
                    <amexio-data-table-column [data-index]="'name'" [width]="20" [data-type]="'string'" [hidden]="false" [text]="'Name'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'version'" [width]="20" [data-type]="'string'" [hidden]="false" [text]="'Version'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'type'" [width]="10" [data-type]="'string'" [hidden]="false" [text]="'Type'"></amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'default'" [width]="10" [data-type]="'string'" [hidden]="false" [text]="'Default'"></amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'description'" [width]="45" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>
            </amexio-tab>
            <amexio-tab title="Source">
                <div style="overflow-y: scroll">
                    <amexio-vertical-tab-view>
                        <amexio-tab title="HTML" [active]="true">
                            <ng-container *ngIf="htmlCode">
                                <!--<clip-copy [htmlCode]="htmlCode" (onClick)="onCopyClick()"></clip-copy>-->
                                <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                        <amexio-tab title="Type Script">
                            <ng-container *ngIf="typeScriptCode">
                                <prism-block [code]="typeScriptCode" [language]="'typescript'"></prism-block>
                            </ng-container>
                        </amexio-tab>

                    </amexio-vertical-tab-view>
                </div>
            </amexio-tab>
            <amexio-tab title="Live">
                <p align="center">Amexio Sandbox</p>
                Work in Progress
            </amexio-tab>
        </amexio-tab-view>
    </amexio-body>
</amexio-card>