<amexio-card header="true">
    <amexio-header>
        Grid Layout
    </amexio-header>
    <amexio-body>
        <p>CSS Grid Layout introduces a two-dimensional grid system to CSS. Grids can be used to layout major page areas or
            small user interface elements.</p>
        <amexio-tab-view>
            <amexio-tab title="Demo" active="true">
                <amexio-row>
                    <amexio-column size="12">
                        <amexio-card [header]="true">
                            <amexio-header>
                                Grid Layout
                            </amexio-header>
                            <amexio-body>
                                <amexio-layout-grid [layout]="'Layout1'">
                                    <amexio-grid-item style="border: 1px dashed black; " [name]="'gridheader'">Header</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridmenu'">Menu</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridmain'">Main </amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridright'">Right</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridfooter'">Footer</amexio-grid-item>
                                </amexio-layout-grid>
                            </amexio-body>
                        </amexio-card>
                        <amexio-card [header]="true">
                            <amexio-header>
                                Grid Layout
                            </amexio-header>
                            <amexio-body>
                                <amexio-layout-grid [layout]="'Layout2'">
                                    <amexio-grid-item style="border: 1px dashed black; " [name]="'gridheader'">GRID LAYOUT HEADER</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridmenu'">GRID LAYOUT MENU</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridmain'">GRID LAYOUT MAIN </amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridright'">GRID LAYOUT RIGHT</amexio-grid-item>
                                    <amexio-grid-item style="border: 1px dashed black" [name]="'gridfooter'">GRID LAYOUT FOOTER</amexio-grid-item>
                                </amexio-layout-grid>
                            </amexio-body>
                        </amexio-card>
                        <amexio-card [header]="true">
                            <amexio-header>
                                Grid Layout
                            </amexio-header>
                            <amexio-body>
                                <amexio-layout-grid [layout]="'Home'">
                                    <amexio-grid-item [name]="'gridheader1'">
                                        <amexio-button [label]="'Home'" [type]="'transparent'" [tooltip]="'Home'" [size]="'small'">
                                        </amexio-button>
                                    </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridheader2'">
                                        <amexio-button [label]="'About'" [type]="'transparent'" [tooltip]="'Home'" [size]="'small'">
                                        </amexio-button>
                                    </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridheader3'">
                                        <amexio-button [label]="'Gallery'" [type]="'transparent'" [tooltip]="'Home'" [size]="'small'">
                                        </amexio-button>
                                    </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridheader4'">
                                        <amexio-button [label]="'Content'" [type]="'transparent'" [tooltip]="'Home'" [size]="'small'">
                                        </amexio-button>
                                    </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridheader5'">
                                        <amexio-button [label]="'Blog'" [type]="'transparent'" [tooltip]="'Home'" [size]="'small'">
                                        </amexio-button>
                                    </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridheader6'">
                                        <amexio-button [label]="'References'" [type]="'transparent'" [tooltip]="'Home'" [size]="'small'">
                                        </amexio-button>
                                    </amexio-grid-item>


                                    <amexio-grid-item [name]="'gridtitle'">

                                            <amexio-card [header]="true" [footer]="false" [footer-align]="'left'" [header-align]="'left'">
                                                    <amexio-header>
                                                        Warli Painting
                                                    </amexio-header>
                                                    <amexio-body>
                                                        <amexio-image path="assets/images/warli1.jpg"></amexio-image>
                                                        <amexio-label size="small">
                                                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                                                        </amexio-label>
                                                    </amexio-body>
                                               
                                                </amexio-card>

                                    </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridmain'">

                                        <amexio-card [header]="true" [footer]="false" [footer-align]="'left'" [header-align]="'left'">
                                            <amexio-header>
                                                Gallerist
                                            </amexio-header>
                                            <amexio-body>
                                                <amexio-image path="assets/images/soap-bubble.jpg"></amexio-image>
                                                <amexio-label size="small">
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                        text ever since the 1500s, when an unknown printer took a galley of type and
                                                        scrambled it to make a type specimen book.
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                        text ever since the 1500s, when an unknown printer took a galley of type and
                                                        scrambled it to make a type specimen book.
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                        text ever since the 1500s, when an unknown printer took a galley of type and
                                                        scrambled it to make a type specimen book.
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                        text ever since the 1500s, when an unknown printer took a galley of type and
                                                        scrambled it to make a type specimen book.
                                    
                                                </amexio-label>
                                            </amexio-body>
                                          
                                        </amexio-card>

                                    </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridright1'">
                                            <amexio-card [header]="true" [footer]="false" [footer-align]="'left'" [header-align]="'left'">
                                                    <amexio-header>
                                                        Calligraphy
                                                    </amexio-header>
                                                    <amexio-body>
                                                        <amexio-image path="assets/images/calligraphy.jpg"></amexio-image>
                                                        <amexio-label size="small">
                                                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                                                        </amexio-label>
                                                    </amexio-body>
                                                   
                                                </amexio-card>


                                    </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridright2'">
                                            <amexio-card [header]="true" [footer]="false" [footer-align]="'left'" [header-align]="'left'">
                                                    <amexio-header>
                                                        Landscape
                                                    </amexio-header>
                                                    <amexio-body>
                                                        <amexio-image path="assets/images/landscape.jpg"></amexio-image>
                                                        <amexio-label size="small">
                                                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                                                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                                                        </amexio-label>
                                                    </amexio-body>
                                                   
                                                </amexio-card>
                                    </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridright3'">
                                        <amexio-panel [header]="true" [title]="'Imaginary Drawing'" [expanded]="true">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
              

                                        </amexio-panel>
                                    </amexio-grid-item>
                                    <amexio-grid-item [name]="'gridmenu'">
                                            <amexio-card [header]="true" [footer]="false" [footer-align]="'left'" [header-align]="'left'">
                                                    <amexio-header>
                                                        Origami
                                                    </amexio-header>
                                                    <amexio-body>
                                                        <amexio-image path="assets/images/origami.jpg"></amexio-image>
                                                        <amexio-label size="small">
                                                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                                                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.

                                                        </amexio-label>
                                                    </amexio-body>
                                                   
                                                </amexio-card>
                                    </amexio-grid-item>
                                </amexio-layout-grid>
                            </amexio-body>
                        </amexio-card>
                    </amexio-column>
                </amexio-row>
            </amexio-tab>
            <amexio-tab title="API Reference">
                <amexio-datagrid title="Properties<amexio-layout-grid>" [enable-column-fiter]="false" [http-method]="'get'" [http-url]="'assets/apireference/data/gridlayout.json'"
                    [data-reader]="'properties'" [enable-data-filter]="false">
                    <amexio-data-table-column [data-index]="'name'" [width]="20" [data-type]="'string'" [hidden]="false" [text]="'Name'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'version'" [width]="20" [data-type]="'string'" [hidden]="false" [text]="'Version'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'type'" [width]="10" [data-type]="'string'" [hidden]="false" [text]="'Type'"></amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'default'" [width]="10" [data-type]="'string'" [hidden]="false" [text]="'Default'"></amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'description'" [width]="45" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>
                <amexio-datagrid title="Properties<amexio-grid-item>" [enable-column-fiter]="false" [http-method]="'get'" [http-url]="'assets/apireference/data/gridlayout.json'"
                    [data-reader]="'childproperties'" [enable-data-filter]="false">
                    <amexio-data-table-column [data-index]="'name'" [width]="20" [data-type]="'string'" [hidden]="false" [text]="'Name'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'version'" [width]="20" [data-type]="'string'" [hidden]="false" [text]="'Version'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'type'" [width]="10" [data-type]="'string'" [hidden]="false" [text]="'Type'"></amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'default'" [width]="10" [data-type]="'string'" [hidden]="false" [text]="'Default'"></amexio-data-table-column>
                    <amexio-data-table-column [data-index]="'description'" [width]="45" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>
            </amexio-tab>
            <amexio-tab title="Source">
                <div style="overflow-y: scroll">
                    <amexio-vertical-tab-view>
                        <amexio-tab title="HTML" [active]="true">
                            <ng-container *ngIf="htmlCode">
                                <!--<clip-copy [htmlCode]="htmlCode" (onClick)="onCopyClick()"></clip-copy>-->
                                <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                        <amexio-tab title="Type Script">
                            <ng-container *ngIf="typeScriptCode">
                                <prism-block [code]="typeScriptCode" [language]="'typescript'"></prism-block>
                            </ng-container>
                        </amexio-tab>

                    </amexio-vertical-tab-view>
                </div>
            </amexio-tab>
            <amexio-tab title="Live">
                <p align="center">Amexio Sandbox</p>
                Work in Progress
            </amexio-tab>
        </amexio-tab-view>
    </amexio-body>
</amexio-card>