<!-- DEMO 1  -->

<amexio-panel title="Panel" [height]="'360'" [expanded]="true">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
  been the industry's standard dummy
  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
  to
  make a type specimen book. It has survived not only five centuries, but also the leap into
  electronic
  typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
  release
  of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
  publishing
  software like Aldus PageMaker including versions of Lorem Ipsum.
</amexio-panel>

<!--Header panel-->

<amexio-panel amexioColorPalette [color-palette]="'vibrant'"  [gradient]="true" [border]="true" [height]="'360'" [header]="true" title="Panel Header" [expanded]="true">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
  been the industry's standard dummy
  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
  to
  make a type specimen book. It has survived not only five centuries, but also the leap into
  electronic
  typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
  release
  of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
  publishing
  software like Aldus PageMaker including versions of Lorem Ipsum.
</amexio-panel>

<!--panel without header-->

<amexio-panel [border]="true" [header]="false" [height]="'360'" [expanded]="false">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
  been the industry's standard dummy
  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
  to
  make a type specimen book. It has survived not only five centuries, but also the leap into
  electronic
  typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
  release
  of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
  publishing
  software like Aldus PageMaker including versions of Lorem Ipsum.
</amexio-panel>

<!--Custom  header panel-->

<amexio-panel [border]="true" [header]="true" title="Custom Header" [expanded]="true">
  <amexio-panel-header>
      <amexio-label size="small">
          My Drive
       </amexio-label>
      <amexio-text-input name="name"
      place-holder="Enter name"
      icon-feedback="true">
      </amexio-text-input>
      <amexio-image 
      style="margin-top : auto;" 
      [icon-class]="'fa fa-info-circle'" 
      [tooltip]="'Information'">
      </amexio-image>
  </amexio-panel-header>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
  been the industry's standard dummy
  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
  to
  make a type specimen book. It has survived not only five centuries, but also the leap into
  electronic
  typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
  release
  of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
  publishing
  software like Aldus PageMaker including versions of Lorem Ipsum.
</amexio-panel>

<!-- Panel with Custom header color -->

<amexio-panel [color]="'black'" [background]="'orange'" [fit]="false" [border]="true" [header]="true" 
 title="Panel header with custom color" [expanded]="true">

  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
  been the industry's standard dummy
  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
  to
  make a type specimen book. It has survived not only five centuries, but also the leap into
  electronic
  typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
  release
  of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
  publishing
  software like Aldus PageMaker including versions of Lorem Ipsum.
</amexio-panel>
