<div style="overflow-y: scroll">
  <amexio-vertical-tab-view>

    <ng-container *ngIf="htmlUrl">
      <amexio-tab title="HTML" [active]="true">
        <ng-container *ngIf=" htmlCode">
          <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
        </ng-container>
      </amexio-tab>
    </ng-container>

    <ng-container *ngIf="tsUrl">
      <amexio-tab title="Type Script">
        <ng-container *ngIf="  typeScriptCode">
          <prism-block [code]="typeScriptCode" [language]="'typescript'"></prism-block>
        </ng-container>
      </amexio-tab>
    </ng-container>

    <ng-container *ngIf="dataSourceUrl">
      <amexio-tab title="Data Source">
        <ng-container *ngIf=" dataSource">
          <prism-block [code]="dataSource" [language]="'json'"></prism-block>
        </ng-container>
      </amexio-tab>
    </ng-container>

    <ng-container *ngIf="componentHtmlUrl">
      <amexio-tab title="Component HTML">
        <ng-container *ngIf=" componentHtmlCode">
          <prism-block [code]="componentHtmlCode" [language]="'html'"></prism-block>
        </ng-container>
      </amexio-tab>
    </ng-container>

    <ng-container *ngIf="componentTsUrl">
      <amexio-tab title="Component TS">
        <ng-container *ngIf="componentTypeScriptCode">
          <prism-block [code]="componentTypeScriptCode" [language]="'typescript'"></prism-block>
        </ng-container>
      </amexio-tab>
    </ng-container>

    <ng-container *ngIf="dataSourceUrl1">
        <amexio-tab title="Second Data Source">
          <ng-container *ngIf=" dataSource1">
            <prism-block [code]="dataSource1" [language]="'json'"></prism-block>
          </ng-container>
        </amexio-tab>
      </ng-container>

      <ng-container *ngIf="dataSourceUrl2">
          <amexio-tab title="Third Data Source">
            <ng-container *ngIf=" dataSource2">
              <prism-block [code]="dataSource2" [language]="'json'"></prism-block>
            </ng-container>
          </amexio-tab>
        </ng-container>

    <ng-container *ngIf="dynamicUrl">
        <amexio-tab title="Dynamic Code">
          <ng-container *ngIf=" dynamicCode">
            <prism-block [code]="dynamicCode" [language]="'typescript'"></prism-block>
          </ng-container>
        </amexio-tab>
      </ng-container>

      <ng-container *ngIf="moduleUrl">
          <amexio-tab title="Module Code">
            <ng-container *ngIf=" moduleCode">
              <prism-block [code]="moduleCode" [language]="'typescript'"></prism-block>
            </ng-container>
          </amexio-tab>
        </ng-container>

  </amexio-vertical-tab-view>
</div>
