<!-- <amexio-api-structure [url]="'assets/componentjson/enterprise/richEditable.json'">
  <amexio-api-demo>
    <amexio-row>
      <amexio-column size="9" fit="true">
        <amexio-card [body-height]="60" [header]="true" [show]="'true'">
          <amexio-header>
            Amexio Rich Editable TextArea .
          </amexio-header>
          <amexio-body>
            <amexio-rich-textarea (onCodeClick)="onSourceCodeDisplay($event)" [enable-source-code]="false"
              [toolbar-position]="'top'">
            </amexio-rich-textarea>
          </amexio-body>
        </amexio-card>
      </amexio-column>
      <amexio-column size="3" fit="true">
        <amexio-card header="true">
          <amexio-header>
            Display HTML Code
          </amexio-header>
          <amexio-body>
            {{HTMLCodeDisplay | json }}
          </amexio-body>
        </amexio-card>
      </amexio-column>

    </amexio-row>
    <amexio-row>
      <amexio-column size="12" fit="true">
        <amexio-card [body-height]="60" [header]="true" [show]="'true'">
          <amexio-header>
            Amexio Rich Editable TextArea With Source Code.
          </amexio-header>
          <amexio-body>
            <amexio-rich-textarea [rich-height]="300" [enable-source-code]="true" [toolbar-position]="'top'">
            </amexio-rich-textarea>
          </amexio-body>
        </amexio-card>
      </amexio-column>
    </amexio-row>
  </amexio-api-demo>
</amexio-api-structure>



  {
          text: "Rich Editable Text Area",
          icon: "fa fa-square-o",
          badge: "NEW",
          link: "enterprise/rich-editable-demo"
        },

-->