<amexio-api-structure [url]="'assets/componentjson/charts/google charts/piechart.json'">
  <amexio-api-demo>
      <amexio-row>
          <amexio-column size="6">
            <amexio-chart-pie [height]="'400px'" [width]="'100%'"  [data]="pieChartData">
              <amexio-chart-title [title]="'My Daily Activities'"></amexio-chart-title>
              <amexio-chart-legend [position]="'right'"></amexio-chart-legend>
            </amexio-chart-pie>
          </amexio-column>
          <amexio-column size="6">
            <amexio-chart-pie [height]="'400px'" [width]="'100%'" [is3d]="true" [data]="pieChartData">
              <amexio-chart-title [title]="'My Daily Activities'"></amexio-chart-title>
              <amexio-chart-legend [position]="'right'"></amexio-chart-legend>
            </amexio-chart-pie>
          </amexio-column>
        </amexio-row>
    </amexio-api-demo>
    </amexio-api-structure>