<!-- DEMO 1 -->

<amexio-viewport [type]="'2'" [scrollable]="true">

    <amexio-viewport-content [scrollable]="false">

        <amexio-viewport-background>
            <amexio-image [path]="'assets/dance.jpeg'"></amexio-image>
        </amexio-viewport-background>

        <amexio-viewport-content-body>
            <amexio-nav [transparent]="true" [enable-side-nav-position]="true" [title]="'Aerofit Fun and Fitness Classes'" [logo]="'assets/logo1.png'">
                <amexio-nav-item position-right [title]="'Home'" [icon]="'fa fa-home fa-fw fa-lg'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
                <amexio-nav-item position-right *ngFor="let menus of navmenus" [type]="'menu'" [title]="menus.text" [icon]="menus.icon" [data]="menus.submenus">
                </amexio-nav-item>
                <amexio-nav-item position-right [icon]="'fa fa-bell fa-fw fa-lg'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
            </amexio-nav>

            <div class="rowClass">
                <amexio-row>
                    <amexio-column size="1" [fit]="false">
                    </amexio-column>
                    <amexio-column size="3" [fit]="false">
                        <amexio-label [font-color]="'white'" [size]="'large'">
                            Life is better when you Dance
                            <p>Because Dance is the hidden language of the soul.</p>
                            <p>Hand in hand, on the edge of the sand,</p>
                            <p>Let's dance by the light of the moon!</p>
                        </amexio-label>
                    </amexio-column>
                </amexio-row>
            </div>

        </amexio-viewport-content-body>

    </amexio-viewport-content>

    <amexio-viewport-content>

        <amexio-viewport-background>
            <amexio-image [path]="'assets/bg5.jpeg'"></amexio-image>
        </amexio-viewport-background>

        <amexio-viewport-content-body [scrollable]="true">
            <amexio-row>
                <div class="rowClass">
                    <amexio-row>
                        <amexio-column size="1" [fit]="false">
                        </amexio-column>
                        <amexio-column size="10" [fit]="false">
                            <amexio-card-ce [align]="'center'" [color]="'white'" [bg-image]="'assets/images/cardce/children-cycle.jpg'">
                                <amexio-header-ce [align]="'space-between'">
                                    <amexio-label size="medium-bold">About Us
                                    </amexio-label>
                                    <amexio-layout-columns [orientation]="'horizontal'" [border]="false">
                                        <amexio-layout-item>
                                            <amexio-image [icon-class]="'fa fa-share-alt'" [tooltip]="'Fontawesome apple'"></amexio-image>
                                        </amexio-layout-item>
                                        <amexio-layout-item>
                                            <amexio-image [icon-class]="'fa fa-heart-o'" [tooltip]="'Fontawesome apple'"></amexio-image>
                                        </amexio-layout-item>
                                        <amexio-layout-item>
                                            <amexio-image [icon-class]="'fa fa-bookmark-o'" [tooltip]="'Fontawesome apple'"></amexio-image>
                                        </amexio-layout-item>
                                    </amexio-layout-columns>
                                </amexio-header-ce>
                                <amexio-body-ce>
                                    <p>
                                        With an aim to provide quality dance training and making dance available to all, Aerofit dance classes run throughout the
                                        year at multiple locations for students from ages four to eighty four providing them
                                        with training in various dance styles by expert faculty. The classes give them an
                                        opportunity to learn dance, express themselves creatively and perform on stage. Classes
                                        are available for children (4 to 6 years), juniors (7 to 11 years) and adults (12
                                        years onwards). </p>
                                    <amexio-layout-columns [orientation]="'horizontal'" [border]="false">
                                        <amexio-layout-item>
                                            <amexio-login-social [style-type]="'circle'" [api-key]="'320512778592240'" [type]="'facebook'" (onLogin)="onLoginClick($event)">
                                            </amexio-login-social>
                                        </amexio-layout-item>
                                        <amexio-layout-item>
                                            <amexio-login-social [style-type]="'circle'" [api-key]="'743009515877-3rfp9u0b2iq95m2o2921kc3hecaamc3e.apps.googleusercontent.com'"
                                                [type]="'google'" (onLogin)="onLoginClick($event)">
                                            </amexio-login-social>
                                        </amexio-layout-item>
                                        <amexio-layout-item>
                                            <amexio-login-social [style-type]="'circle'" [api-key]="'81wzvqnx8wtvmg'" [type]="'linkedin'" (onLogin)="onLoginClick($event)">
                                            </amexio-login-social>
                                        </amexio-layout-item>
                                    </amexio-layout-columns>
                                </amexio-body-ce>
                            </amexio-card-ce>
                        </amexio-column>
                        <amexio-column size="1" [fit]="false">
                        </amexio-column>
                    </amexio-row>
                </div>
            </amexio-row>
            <amexio-row>
                <amexio-column size="1" [fit]="false">
                </amexio-column>

                <amexio-column size="10" [fit]="false">
                    <amexio-card-ce [align]="'center'" [color]="'white'" [bg-image]="'assets/images/cardce/children-cycle.jpg'">
                        <amexio-header-ce [align]="'space-between'">
                            <amexio-label size="medium-bold">Get In Touch
                            </amexio-label>
                            <amexio-layout-columns [orientation]="'horizontal'" [border]="false">
                                <amexio-layout-item>
                                    <amexio-image [icon-class]="'fa fa-map-marker'" [tooltip]="'Fontawesome apple'"></amexio-image>
                                </amexio-layout-item>
                            </amexio-layout-columns>
                        </amexio-header-ce>
                        <amexio-body-ce>
                            <p>
                                AEROFIT FUN & FITNESS 1st floor Nirvana, Green Field Rd, Near Amanora Township Magarpatta, Hadapsar, Pune, Maharashtra -
                                411028 </p>
                            <p>+91 9674125890 / +91 9674522001</p>
                            <p>contact@aerofitdancefitness.org</p>
                        </amexio-body-ce>
                    </amexio-card-ce>
                </amexio-column>

                <amexio-column size="1" [fit]="false">
                </amexio-column>
            </amexio-row>

        </amexio-viewport-content-body>

    </amexio-viewport-content>

</amexio-viewport>

<!-- DEMO 2 -->

<amexio-viewport [type]="'2'" [scrollable]="true">

    <amexio-viewport-content [scrollable]="false">

        <amexio-viewport-background>
            <amexio-image [path]="'assets/living1.jpg'"></amexio-image>
        </amexio-viewport-background>

        <amexio-viewport-content-body>
            <amexio-nav [transparent]="true" [enable-side-nav-position]="true" [title]="'EyePropertyRecord.com'" [logo]="'assets/1.png'">
                <amexio-nav-item position-right [title]="'Home'" [icon]="'fa fa-home fa-fw fa-lg'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
                <amexio-nav-item position-right *ngFor="let menus of navmenus" [type]="'menu'" [title]="menus.text" [icon]="menus.icon" [data]="menus.submenus">
                </amexio-nav-item>
                <amexio-nav-item position-right [type]="'link'" [icon]="'fa fa-user'" [title]="'Login'">
                </amexio-nav-item>
            </amexio-nav>
            <div>
                <amexio-row>
                    <amexio-column size="12" style="padding-top:14%">
                    </amexio-column>
                </amexio-row>
                <amexio-layout-columns [orientation]="'vertical'" [border]="false">
                    <amexio-layout-item [fit]="true" *ngFor="let alignment of ['center']">
                        <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="alignment">
                            <amexio-layout-item>
                                <amexio-label size="large-bold" font-color="white">
                                    What do you wanna buy today?
                                </amexio-label>
                            </amexio-layout-item>

                        </amexio-layout-columns>
                    </amexio-layout-item>
                </amexio-layout-columns>
                <amexio-layout-columns [orientation]="'vertical'" [border]="false" [alignment]="'center'">
                    <amexio-layout-item [fit]="true">
                        <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
                            <amexio-layout-item>
                                <amexio-button [label]="'Buy'" [type]="'theme-color'" [tooltip]="'toolTip'" [icon]="'icon'" [disabled]="false" class="localsearch">
                                </amexio-button>
                                <amexio-button [label]="'Sell'" [type]="'theme-color'" [tooltip]="'toolTip'" [icon]="'icon'" [disabled]="false" class="localsearch">
                                </amexio-button>
                                <div class="localsearch">
                                    <amexio-row>
                                        <div class="inputClass">
                                            <amexio-dropdown style="width:400px" [place-holder]="'Choose'" name="category" [field-label]="''" [data]="categories" [display-field]="'name'"
                                                [value-field]="'id'" [enable-sort]="true" [sort]="'asc'">
                                            </amexio-dropdown>
                                        </div>
                                        <div class="inputClass">
                                            <amexio-text-input style="width:650px" [field-label]="'label'" name="name" [has-label]="false" [place-holder]="'Search'"
                                                [icon-feedback]="true" class="localsearchtext">
                                            </amexio-text-input>
                                        </div>
                                        <amexio-button [label]="'Search'" [size]="'large'" [type]="'theme-color'" [tooltip]="'toolTip'" [icon]="'icon'" [disabled]="false"
                                            [size]="'default'" [loading]="false" [block]="false" [bg-color]="'red'">
                                        </amexio-button>
                                    </amexio-row>
                                </div>
                            </amexio-layout-item>
                        </amexio-layout-columns>
                    </amexio-layout-item>
                </amexio-layout-columns>
            </div>
        </amexio-viewport-content-body>

    </amexio-viewport-content>

    <amexio-viewport-content [scrollable]="false">

        <amexio-viewport-background>
            <amexio-image [path]="'assets/living2.jpg'"></amexio-image>
        </amexio-viewport-background>

        <amexio-viewport-content-body>
            <br>
            <br>
            <amexio-row>
                <amexio-column size="2" [fit]="false">
                </amexio-column>
                <amexio-column size="6" [fit]="false">
                    <amexio-label [font-color]="'white'" [size]="'large-bold'">
                        Top Projects
                    </amexio-label>
                    <br>
                    <amexio-label [font-color]="'white'" [size]="'medium-bold'">
                        Best developers in Wagholi to explore. </amexio-label>
                </amexio-column>
            </amexio-row>
            <br>
            <br>
            <amexio-row>
                <amexio-column size="1" [fit]="false">
                </amexio-column>
                <amexio-column size="3" [fit]="false">
                    <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(139,69,19,.3)'">
                        <amexio-header-ce [background]="'linear-gradient(40deg,#ff9e20,#ff6a20)'" [height]="'75px'" align="center">
                            <amexio-label [size]="'medium-bold'">
                                Shapoorji Paloni Residency
                            </amexio-label>

                        </amexio-header-ce>
                        <amexio-body-ce>
                            <amexio-row>
                                <amexio-column size="12" [fit]="false">
                                    <amexio-label [font-color]="'white'" [size]="'medium-bold'">
                                        Special Highlights
                                    </amexio-label>
                                </amexio-column>
                                <amexio-column size="12" [fit]="false">
                                    <!-- <amexio-chips [data]="sampledatachips" [display-field]="'label'"></amexio-chips> -->
                                </amexio-column>
                            </amexio-row>
                            <amexio-row>
                                <amexio-column size="6" [fit]="false">

                                </amexio-column>
                            </amexio-row>
                        </amexio-body-ce>
                        <amexio-action-ce [align]="'left'">
                            <amexio-label [size]="'small-bold'" [enable-click]="true">
                                SNBP School Road, Wagholi
                            </amexio-label>
                        </amexio-action-ce>
                    </amexio-card-ce>

                </amexio-column>
            </amexio-row>
        </amexio-viewport-content-body>

    </amexio-viewport-content>

    <amexio-viewport-content [scrollable]="false">

        <amexio-viewport-background>
            <amexio-image [path]="'assets/living3.jpg'"></amexio-image>
        </amexio-viewport-background>

        <amexio-viewport-content-body>
            <br>
            <br>
            <amexio-row>
                <amexio-column size="2" [fit]="false">
                </amexio-column>
                <amexio-column size="6" [fit]="false">
                    <amexio-label [font-color]="'white'" [size]="'large-bold'">
                        Top Projects
                    </amexio-label>
                    <br>
                    <amexio-label [font-color]="'white'" [size]="'medium-bold'">
                        Best developers in Hadapsar to explore. </amexio-label>
                </amexio-column>
            </amexio-row>
            <br>
            <br>
            <amexio-row>
                <amexio-column size="1" [fit]="false">
                </amexio-column>
                <amexio-column size="3" [fit]="false">
                    <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(0,0,0,.3)'">
                        <amexio-header-ce [background]="'linear-gradient(40deg,#ff9e20,#ff6a20)'" [height]="'75px'" align="center">
                            <amexio-label [size]="'medium-bold'">
                                Daffodils Residency
                            </amexio-label>

                        </amexio-header-ce>
                        <amexio-body-ce>
                            <amexio-row>
                                <amexio-column size="12" [fit]="false">
                                    <amexio-label [font-color]="'white'" [size]="'medium-bold'">
                                        Special Highlights
                                    </amexio-label>
                                </amexio-column>
                                <amexio-column size="12" [fit]="false">
                                    <!-- <amexio-chips [data]="sampledatachips1" [display-field]="'label'"></amexio-chips> -->
                                </amexio-column>
                            </amexio-row>
                            <amexio-row>
                                <amexio-column size="6" [fit]="false">

                                </amexio-column>
                            </amexio-row>
                        </amexio-body-ce>
                        <amexio-action-ce [align]="'left'">
                            <amexio-label [font-color]="'white'" [size]="'small-bold'" [enable-click]="true">
                                Magarpatta City, Hadapsar
                            </amexio-label>
                        </amexio-action-ce>
                    </amexio-card-ce>

                </amexio-column>
            </amexio-row>
        </amexio-viewport-content-body>

    </amexio-viewport-content>

    <amexio-viewport-content [scrollable]="false">

        <amexio-viewport-background>
            <amexio-image [path]="'assets/living4.jpg'"></amexio-image>
        </amexio-viewport-background>

        <amexio-viewport-content-body>
            <br>
            <br>
            <br>
            <amexio-row>
                <amexio-column size="2" [fit]="false">
                </amexio-column>
                <amexio-column size="6" [fit]="false">
                    <amexio-label [font-color]="'black'" [size]="'large-bold'">
                        Top Projects
                    </amexio-label>
                    <br>
                    <amexio-label [font-color]="'black'" [size]="'medium-bold'">
                        Best developers in Mundhwa to explore. </amexio-label>
                </amexio-column>
            </amexio-row>
            <br>
            <br>
            <amexio-row>
                <amexio-column size="1" [fit]="false">

                </amexio-column>
                <amexio-column size="3" [fit]="false">
                    <amexio-card-ce [align]="'start'" [color]="'black'" [background]="'rgba(255,255,255,.3)'">
                        <amexio-header-ce [background]="'linear-gradient(40deg,#ff9e20,#ff6a20)'" [height]="'75px'" align="center">
                            <amexio-label [size]="'medium-bold'">
                                Sudarshan Heritage
                            </amexio-label>

                        </amexio-header-ce>
                        <amexio-body-ce>
                            <amexio-row>
                                <amexio-column size="12" [fit]="false">
                                    <amexio-label [font-color]="'black'" [size]="'medium-bold'">
                                        Special Highlights
                                    </amexio-label>
                                </amexio-column>
                                <amexio-column size="12" [fit]="false">
                                    <!-- <amexio-chips [data]="sampledatachips1" [display-field]="'label'"></amexio-chips> -->
                                </amexio-column>
                            </amexio-row>
                            <amexio-row>
                                <amexio-column size="6" [fit]="false">

                                </amexio-column>
                            </amexio-row>
                        </amexio-body-ce>
                        <amexio-action-ce [align]="'left'">
                            <amexio-label [font-color]="'black'" [size]="'small-bold'" [enable-click]="true">
                                SMP School Road, Mundhwa
                            </amexio-label>
                        </amexio-action-ce>
                    </amexio-card-ce>
                </amexio-column>
            </amexio-row>
        </amexio-viewport-content-body>

    </amexio-viewport-content>

</amexio-viewport>

<!-- Demo 3 -->

<amexio-viewport [type]="'2'" [scrollable]="true">

    <amexio-viewport-content [scrollable]="false">

        <amexio-viewport-background>
            <amexio-video-player path="assets/video/video3.mp4">
            </amexio-video-player>
        </amexio-viewport-background>

        <amexio-viewport-content-body>
            <amexio-nav [transparent]="true" [enable-side-nav-position]="true" [title]="'Greenhouse Farms'" [logo]="'assets/farm.png'">
                <amexio-nav-item position-right [title]="'Home'" [icon]="'fa fa-home fa-fw fa-lg'" [type]="'button'" style="cursor: pointer;">
                </amexio-nav-item>
                <amexio-nav-item position-right *ngFor="let menus of navmenus" [type]="'menu'" [title]="menus.text" [icon]="menus.icon" [data]="menus.submenus">
                </amexio-nav-item>
                <amexio-nav-item position-right [type]="'link'" [icon]="'fa fa-user'" [title]="'Login'">
                </amexio-nav-item>
            </amexio-nav>
            <div class="rowClass">
                <amexio-row>
                    <amexio-column size="1" [fit]="false">
                    </amexio-column>
                    <amexio-column size="3" [fit]="false">
                        <amexio-label [font-color]="'white'" [size]="'medium'">
                            There is pleasure in the pathless woods,
                            <p>There is rapture in the lonely shore,</p>
                            <p>There is society where none intrudes,</p>
                            <p>By the deep sea, or the jungle, and music in its roar;</p>
                            <p>I love not Man the less, but Nature more.</p>
                            <p>Lord Byron</p>
                        </amexio-label>
                    </amexio-column>
                </amexio-row>
            </div>
        </amexio-viewport-content-body>

    </amexio-viewport-content>

    <amexio-viewport-content [scrollable]="false">

        <amexio-viewport-background>
            <amexio-image [path]="'assets/viewport3/horseriding.jpg'"></amexio-image>
        </amexio-viewport-background>

        <amexio-viewport-content-body>
            <amexio-row>
                <amexio-column size="12" style="padding-top:10%">
                </amexio-column>
            </amexio-row>
            <amexio-layout-columns [orientation]="'vertical'" [border]="false">
                <amexio-layout-item [fit]="true" *ngFor="let alignment of ['center']">
                    <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="alignment">
                        <amexio-layout-item>
                            <amexio-row>
                                <amexio-column size="1" [fit]="false">
                                </amexio-column>
                                <amexio-column size="4" [fit]="false">
                                    <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(139,69,19,.3)'">
                                        <amexio-header-ce [background]="'linear-gradient(40deg,#748262,#8fa86f)'" [height]="'75px'" align="center">
                                            <amexio-badge [absolute]="true" [background]="'#e74c3c'" [color]="'white'" [top]="'0px'" [right]="'5%'">
                                                <amexio-label>9:05 AM</amexio-label>
                                            </amexio-badge>
                                            <amexio-label [size]="'large-bold'">
                                                Morning Rush </amexio-label>
                                        </amexio-header-ce>
                                        <amexio-body-ce>
                                            <amexio-row>
                                                <amexio-column size="12" [fit]="false">
                                                    <amexio-label [font-color]="'white'" [size]="'medium-bold'">
                                                        As the sun crests the warm red mountains and the summer glow begins to fill the valley below, you realize that this is what
                                                        life is about. Family, fun and the open space of the West.
                                                    </amexio-label>
                                                </amexio-column>
                                            </amexio-row>
                                            <amexio-row>
                                                <amexio-column size="6" [fit]="false">

                                                </amexio-column>
                                            </amexio-row>
                                        </amexio-body-ce>
                                    </amexio-card-ce>

                                </amexio-column>
                            </amexio-row>
                        </amexio-layout-item>

                    </amexio-layout-columns>
                </amexio-layout-item>
            </amexio-layout-columns>
        </amexio-viewport-content-body>

    </amexio-viewport-content>

    <amexio-viewport-content [scrollable]="false">

        <amexio-viewport-background>
            <amexio-image [path]="'assets/viewport3/lunch.jpeg'"></amexio-image>
        </amexio-viewport-background>

        <amexio-viewport-content-body>
            <amexio-row>
                <amexio-column size="12" style="padding-top:10%">
                </amexio-column>
            </amexio-row>
            <amexio-layout-columns [orientation]="'vertical'" [border]="false">
                <amexio-layout-item [fit]="true" *ngFor="let alignment of ['center']">
                    <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="alignment">
                        <amexio-layout-item>
                            <amexio-row>
                                <amexio-column size="1" [fit]="false">
                                </amexio-column>
                                <amexio-column size="4" [fit]="false">
                                    <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(139,69,19,.3)'">
                                        <amexio-header-ce [background]="'linear-gradient(40deg,#748262,#8fa86f)'" [height]="'75px'" align="center">
                                            <amexio-badge [absolute]="true" [background]="'#e74c3c'" [color]="'white'" [top]="'0px'" [right]="'5%'">
                                                <amexio-label>12:16 PM</amexio-label>
                                            </amexio-badge>
                                            <amexio-label [size]="'large-bold'">
                                                Lunch Commute </amexio-label>
                                        </amexio-header-ce>
                                        <amexio-body-ce>
                                            <amexio-row>
                                                <amexio-column size="12" [fit]="false">
                                                    <amexio-label [font-color]="'white'" [size]="'medium-bold'">
                                                        After an exciting day of riding, hiking, fishing and exploring all the ranch has to offer, nothing is better than a home
                                                        cooked meal, fresh and creative, to keep you going for the next half
                                                        of the day.
                                                    </amexio-label>
                                                </amexio-column>
                                            </amexio-row>
                                            <amexio-row>
                                                <amexio-column size="6" [fit]="false">

                                                </amexio-column>
                                            </amexio-row>
                                        </amexio-body-ce>
                                    </amexio-card-ce>

                                </amexio-column>
                            </amexio-row>
                        </amexio-layout-item>

                    </amexio-layout-columns>
                </amexio-layout-item>
            </amexio-layout-columns>
        </amexio-viewport-content-body>

    </amexio-viewport-content>

    <amexio-viewport-content [scrollable]="false">

        <amexio-viewport-background>
            <amexio-image [path]="'assets/viewport3/evening.jpg'"></amexio-image>
        </amexio-viewport-background>

        <amexio-viewport-content-body>
            <amexio-row>
                <amexio-column size="12" style="padding-top:10%">
                </amexio-column>
            </amexio-row>
            <amexio-layout-columns [orientation]="'vertical'" [border]="false">
                <amexio-layout-item [fit]="true" *ngFor="let alignment of ['center']">
                    <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="alignment">
                        <amexio-layout-item>
                            <amexio-row>
                                <amexio-column size="1" [fit]="false">
                                </amexio-column>
                                <amexio-column size="4" [fit]="false">
                                    <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(0,0,0,.3)'">
                                        <amexio-header-ce [background]="'linear-gradient(40deg,#748262,#8fa86f)'" [height]="'75px'" align="center">
                                            <amexio-badge [absolute]="true" [background]="'#e74c3c'" [color]="'white'" [top]="'0px'" [right]="'5%'">
                                                <amexio-label>03:09 PM</amexio-label>
                                            </amexio-badge>
                                            <amexio-label [size]="'large-bold'">
                                                Stand Tall </amexio-label>
                                        </amexio-header-ce>
                                        <amexio-body-ce>
                                            <amexio-row>
                                                <amexio-column size="12" [fit]="false">
                                                    <amexio-label [font-color]="'white'" [size]="'medium-bold'">
                                                        Take advantage of all Red Rock Ranch has to offer by hitting the mountain trails for unforgettable views of the Teton Mountains
                                                        and the picturesque Gros Ventre valley.
                                                    </amexio-label>
                                                </amexio-column>
                                            </amexio-row>
                                            <amexio-row>
                                                <amexio-column size="6" [fit]="false">

                                                </amexio-column>
                                            </amexio-row>
                                        </amexio-body-ce>
                                    </amexio-card-ce>

                                </amexio-column>
                            </amexio-row>
                        </amexio-layout-item>

                    </amexio-layout-columns>
                </amexio-layout-item>
            </amexio-layout-columns>
        </amexio-viewport-content-body>

    </amexio-viewport-content>

    <amexio-viewport-content [scrollable]="false">

        <amexio-viewport-background>
            <amexio-image [path]="'assets/viewport3/camping.jpg'"></amexio-image>
        </amexio-viewport-background>

        <amexio-viewport-content-body>
            <amexio-row>
                <amexio-column size="12" style="padding-top:10%">
                </amexio-column>
            </amexio-row>
            <br>
            <br>
            <amexio-row>
                <amexio-column size="2" [fit]="false">
                </amexio-column>
            </amexio-row>
            <br>
            <br>
            <amexio-row>
                <amexio-column size="1" [fit]="false">
                </amexio-column>
                <amexio-column size="4" [fit]="false">
                    <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(0,0,0,.3)'">
                        <amexio-header-ce [background]="'linear-gradient(40deg,#748262,#8fa86f)'" [height]="'75px'" align="center">
                            <amexio-badge [absolute]="true" [background]="'#e74c3c'" [color]="'white'" [top]="'0px'" [right]="'5%'">
                                <amexio-label>10:15 PM</amexio-label>
                            </amexio-badge>
                            <amexio-label [size]="'medium-bold'">
                                Find Yourself Here...
                            </amexio-label>
                        </amexio-header-ce>
                        <amexio-body-ce>
                            <amexio-row>
                                <amexio-column size="12" [fit]="false">
                                    <amexio-label [font-color]="'white'" [size]="'medium-bold'">
                                        Be it a world class hike, fishing on the streams or riding our gorgeous mountains – kick back and relax in the mountain fresh
                                        air as you look up at a sky full of stars. </amexio-label>
                                </amexio-column>
                            </amexio-row>
                            <amexio-row>
                                <amexio-column size="6" [fit]="false">
                                </amexio-column>
                            </amexio-row>
                        </amexio-body-ce>
                    </amexio-card-ce>
                </amexio-column>
            </amexio-row>
        </amexio-viewport-content-body>
        
    </amexio-viewport-content>

</amexio-viewport>