<amexio-api-structure [url]="'assets/componentjson/charts/google charts/candlestickchart.json'">
  <amexio-api-demo>  
      <amexio-row>
          <amexio-column size="12">
            <amexio-chart-candlestick [width]="'100%'" [height]="'400px'" [data]="candlestickChartData">
              <amexio-chart-title [title]="'Stock Statistics'"></amexio-chart-title>
            </amexio-chart-candlestick>
          </amexio-column>
        </amexio-row>
    </amexio-api-demo>
    </amexio-api-structure>