<amexio-api-structure [url]="'assets/componentjson/enterprise/availability.json'">
    <amexio-api-accessible>
        <amexio-box border-color="blue" border="left" [padding]="true" align="left">
            <p>Amexio availability component can be used to show and modify availability of resources in accordance to specidic
                time
            </p>
        </amexio-box>
    </amexio-api-accessible>
    <amexio-api-demo>
        <amexio-card header="true">
            <amexio-header> Class Time Table Demo</amexio-header>
            <amexio-body>

                <amexio-availability [start-date]="'01-Sep-2019'" [end-date]="'10-Sep-2019'" [time-zone-data]="tzonedata" [start-time]="5"
                    [end-time]="13" [label-data]="classData"></amexio-availability>

            </amexio-body>
        </amexio-card>

        <br>
        <amexio-card header="true">
            <amexio-header> Doctors Availability Demo </amexio-header>
            <amexio-body>
                <amexio-availability [start-date]="'01-Sep-2019'" [end-date]="'10-Sep-2019'" [time-zone-data]="tzonedata" [start-time]="5"
                    [end-time]="13" [label-data]="doctorData"></amexio-availability>
            </amexio-body>
        </amexio-card>

        <br>

    </amexio-api-demo>
</amexio-api-structure>