<amexio-api-structure [custom-com-data]="customSourceData" [url]="'assets/componentjson/formactions/button.json'">
  <amexio-api-demo>
    <amexio-row>
      <amexio-column [size]="12">
        <amexio-card [header]="true" [body-height]="'50%'">
          <amexio-header>
            Floating Button Types
          </amexio-header>
          <amexio-body>
            <amexio-row>
              <amexio-column size=3>
                <amexio-floating-button [bg-color]="'#a2b9bc'"  [color]="' #6b5b95'"[relative]="true" [tool-tip]="'Setting'" [icon]="'fa fa-snowflake-o'" [type]="'theme-color'"></amexio-floating-button>
              </amexio-column>
              <amexio-column size=3>
                <amexio-floating-button [relative]="true"  [tool-tip]="'User'" [icon]="'fa fa-user-circle-o'" [type]="'yellow'"></amexio-floating-button>
              </amexio-column>
              <amexio-column size=3>
                <amexio-floating-button [relative]="true"  [tool-tip]="'open'" [icon]="'fa fa-envelope-open'" [type]="'red'"></amexio-floating-button>
              </amexio-column>
              <amexio-column size=3>
                <amexio-floating-button [relative]="true" [tool-tip]="'message'" [icon]="'fa fa fa-telegram'" [type]="'theme-color'"></amexio-floating-button>
              </amexio-column>
            </amexio-row>
            <amexio-row>
              <amexio-column size=12>
                <amexio-button [label]="'Vertical/Horizontal Positioning'" (onClick)="onFloatingButtonClick1($event)" [type]="'theme-color'" [tooltip]="'Using Vertical/Horizontal Positioning'"></amexio-button>
                <br/>
                <br/>
                <amexio-button [label]="'Right/Left/Top/Right Positioning'" (onClick)="onFloatingButtonClick2($event)" [type]="'theme-color'" [tooltip]="'Using Right/Left/Top/Right Positioning'"></amexio-button>
              </amexio-column>
            </amexio-row>

            <div *ngIf="toggle1">
              <amexio-floating-button [vertical-position]="'top'" [horizontal-position]="'left'" [label]="'top-left'" [icon]="'fa fa-snowflake-o'" [type]="'theme-color'"></amexio-floating-button>
              <amexio-floating-button [vertical-position]="'top'" [horizontal-position]="'right'" [label]="'top-right'" [icon]="'fa fa-telegram'" [type]="'green'"></amexio-floating-button>
              <amexio-floating-button [vertical-position]="'bottom'" [horizontal-position]="'left'" [label]="'bottom-left'" [icon]="'fa fa-user-circle-o'" [type]="'yellow'"></amexio-floating-button>
              <amexio-floating-button [vertical-position]="'bottom'" [horizontal-position]="'right'" [label]="'bottom-right'" [icon]="'fa fa-envelope-open'" [type]="'red'"></amexio-floating-button>
              <amexio-floating-button [vertical-position]="'center'" [horizontal-position]="'center'" [icon]="'fa fa-snowflake-o'" [type]="'red'" (onClick)="onFloatingButtonClick($event)"></amexio-floating-button>
            </div>

            <div *ngIf="toggle2">
              <amexio-floating-button [position-top]="'30px'" [position-right]="'40px'" [label]="'top-left'" [icon]="'fa fa-snowflake-o'" [type]="'theme-color'"></amexio-floating-button>
              <amexio-floating-button [position-top]="'50%'" [position-right]="'40px'" [label]="'top-left'" [icon]="'fa fa-snowflake-o'" [type]="'green'"></amexio-floating-button>
              <amexio-floating-button [position-bottom]="'30px'" [position-right]="'40px'" [label]="'top-left'" [icon]="'fa fa-snowflake-o'" [type]="'yellow'"></amexio-floating-button>
              <amexio-floating-button [position-bottom]="'30px'" [position-left]="'40px'" [label]="'top-left'" [icon]="'fa fa-snowflake-o'" [type]="'red'"></amexio-floating-button>
              <amexio-floating-button [position-top]="'30px'" [position-left]="'40px'" [label]="'top-left'" [icon]="'fa fa-snowflake-o'" [bg-color]="'blue'"></amexio-floating-button>

            </div>
          </amexio-body>
        </amexio-card>

      </amexio-column>
    </amexio-row>
  </amexio-api-demo>
</amexio-api-structure>
