<amexio-card header="true">
    <amexio-header>
        D3 bar-stack Chart
    </amexio-header>
    <amexio-body>
        <p>An D3 bar-stack chart that is rendered within the browser using SVG .Displays tips when hovering over points.</p>
        <amexio-tab-view>

            <amexio-tab title="Demo" active="true">
                <amexio-row>
                    <amexio-column [size]="12">

                        <amexio-row>
                            <amexio-column [size]="8">
                                <amexio-card [header]="true" [show]="'true'">
                                    <amexio-header>
                                        D3-bar-stack Chart with default Colors
                                    </amexio-header>
                                    <amexio-body>
                                        <amexio-d3-chart-barstack [data]="userDefineColorData" [title]="'STACKBARCHART'" (onLegendClick)="onUserDefineLegendClick($event)"
                                            (onChartClick)="onDefaultChartClick($event)">
                                        </amexio-d3-chart-barstack>
                                    </amexio-body>
                                </amexio-card>
                            </amexio-column>
                            <amexio-column [size]="4">
                                <amexio-card header="true" [body-height]="64">
                                    <amexio-header>
                                        Click On Legend/Click on Chart
                                    </amexio-header>
                                    <amexio-body>
                                        <pre><code>{{userDataSource |json }}</code></pre>

                                    </amexio-body>
                                </amexio-card>

                            </amexio-column>

                        </amexio-row>

                        <amexio-row>
                            <amexio-column [size]="8">
                                <amexio-card [header]="true" [show]="'true'">
                                    <amexio-header>
                                        D3-bar-stack Chart with User Defined Colors
                                    </amexio-header>
                                    <amexio-body>
                                        <amexio-d3-chart-barstack [data]="userDefineColorData" [color] = "colorArray" [title]="'STACKBARCHART'" (onLegendClick)="onUserDefineLegendClick1($event)"
                                            (onChartClick)="onDefaultChartClick1($event)">
                                        </amexio-d3-chart-barstack>
                                    </amexio-body>
                                </amexio-card>
                            </amexio-column>
                            <amexio-column [size]="4">
                                <amexio-card header="true" [body-height]="64">
                                    <amexio-header>
                                        Click On Legend/Click on Chart
                                    </amexio-header>
                                    <amexio-body>
                                        <pre><code>{{userDataSource1 |json }}</code></pre>

                                    </amexio-body>
                                </amexio-card>

                            </amexio-column>

                        </amexio-row>

                    </amexio-column>
                </amexio-row>

            </amexio-tab>

            <amexio-tab title="API Reference">
                <amexio-datagrid title="D3-bar-stack-Chart Properties<amexio-d3-chart-bar-stack>" [enable-column-fiter]="false" [http-method]="'get'"
                    [http-url]="'assets/apireference/charts/d3charts/d3barstackchart.json'" [data-reader]="'properties'" [enable-data-filter]="false">
                    <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false" [text]="'Name'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'version'" [data-type]="'string'" [hidden]="false"[text]="'version'"></amexio-data-table-column>                    
                    <amexio-data-table-column [width]="15" [data-index]="'type'" [data-type]="'string'" [hidden]="false" [text]="'Type'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'default'" [data-type]="'string'" [hidden]="false" [text]="'Default'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="45" [data-index]="'description'" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>
                <br>
                <amexio-datagrid title="Legend <amexio-d3-chart-bar-stack>" [enable-column-fiter]="false" [http-method]="'get'" [http-url]="'assets/apireference/charts/d3charts/d3barstackchart.json'"
                    [data-reader]="'legend'" [enable-data-filter]="false">
                    <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false" [text]="'Name'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'version'" [data-type]="'string'" [hidden]="false"[text]="'version'"></amexio-data-table-column>                    
                    <amexio-data-table-column [width]="55" [data-index]="'description'" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>
                <br>
                <amexio-datagrid title="Chart Event <amexio-d3-chart-stack>" [enable-column-fiter]="false" [http-method]="'get'" [http-url]="'assets/apireference/charts/d3charts/d3barstackchart.json'"
                    [data-reader]="'chartevent'" [enable-data-filter]="false">
                    <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false" [text]="'Name'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'version'" [data-type]="'string'" [hidden]="false"[text]="'version'"></amexio-data-table-column>                    
                    <amexio-data-table-column [width]="55" [data-index]="'description'" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>




            </amexio-tab>
            <amexio-tab title="Source">
                <div style="overflow-y: scroll">
                    <amexio-vertical-tab-view>
                        <amexio-tab title="HTML" [active]="true">
                            <ng-container *ngIf="htmlCode">
                                <!--<clip-copy [htmlCode]="htmlCode" (onClick)="onCopyClick()"></clip-copy>-->
                                <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                        <amexio-tab title="Type Script">
                            <ng-container *ngIf="typeScriptCode">
                                <prism-block [code]="typeScriptCode" [language]="'typescript'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                    </amexio-vertical-tab-view>
                </div>
            </amexio-tab>
            <amexio-tab title="Live">
                <p align="center">Amexio Sandbox</p>
                <iframe style="width: 100%; height: 600px" src="https://stackblitz.com/edit/amexio-d3-chart-stackbar?embed=1&file=src/app/d3chart/d3stackbarchart/d3stackbarchart.demo.component.html&view=editor"
                    frameborder="0" allowfullscren="allowfullscren"></iframe>
            </amexio-tab>
        </amexio-tab-view>
    </amexio-body>
</amexio-card>