<amexio-card header="true">
    <amexio-header>
       Right Aligned Vertical Tab 
    </amexio-header>
    <amexio-body>
      <p>Right Aligned Vertical Tab component for Angular Apps with multiple configurations such as Tab, Icon support</p>
      <amexio-tab-view>
        <amexio-tab title="Demo" active="true">
          <amexio-right-vertical-tab-view>
            <amexio-tab title="Personal" [active]="true"  [icon]="'fa fa-user-circle'">
               Personal 
              Lorem Ipsum is simply text of printing and typesetting industry. 
            </amexio-tab>
            <amexio-tab title="Work" [icon]="'fa fa-building'">
               Work 
              Nullam nec dolor lobortis, dictum ac, massa. Donec id suscipit.
            </amexio-tab>
            <amexio-tab title="Team" [icon]="'fa fa-users'">
               Team 
              Phasellus in condimentum. In et sem. Orci   varius penatibus.
            </amexio-tab>
            <amexio-tab title="Disabled" [disabled]= true [icon]="'fa fa-snowflake'">
            Team 
           Phasellus in condimentum elit. In et vestibulum sem. Orci varius natoque penatibus et magnis 
           dis parturient montes,nascetur ridiculus mus. 
         </amexio-tab>
          </amexio-right-vertical-tab-view>
        </amexio-tab>
        <amexio-tab title="API Reference">
        <amexio-datagrid title="Right Align Vertical Tab Properties <amexio-right-vertical-tab-view >" [enable-column-fiter]="false"
        [http-method]="'get'"
        [http-url]="'assets/apireference/layout/tab/vertical-tab/right-vertical.json'"
        [data-reader]="'properties'"
        [enable-data-filter]="false" >
<amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false"
                   [text]="'Name'"></amexio-data-table-column>
                   <amexio-data-table-column [width]="10" [data-index]="'version'" [data-type]="'string'" [hidden]="false"
[text]="'Version'"></amexio-data-table-column>
<amexio-data-table-column [width]="10" [data-index]="'type'" [data-type]="'string'" [hidden]="false"
                   [text]="'Type'"></amexio-data-table-column>
<amexio-data-table-column [width]="10" [data-index]="'default'" [data-type]="'string'" [hidden]="false"
                   [text]="'Default'"></amexio-data-table-column>
<amexio-data-table-column [width]="65" [data-index]="'description'" [data-type]="'string'" [hidden]="false"
                   [text]="'Description'"></amexio-data-table-column>
</amexio-datagrid>
<br>

         <amexio-datagrid title="Tab Properties <amexio-tab>" [enable-column-fiter]="false"
        [http-method]="'get'"
        [http-url]="'assets/apireference/layout/tab/tab.json'"
        [data-reader]="'properties'"
        [enable-data-filter]="false" >
<amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false"
                   [text]="'Name'"></amexio-data-table-column>
                   <amexio-data-table-column [width]="10" [data-index]="'version'" [data-type]="'string'" [hidden]="false"
                   [text]="'Version'"></amexio-data-table-column>
<amexio-data-table-column [width]="10" [data-index]="'type'" [data-type]="'string'" [hidden]="false"
                   [text]="'Type'"></amexio-data-table-column>

<amexio-data-table-column [width]="10" [data-index]="'default'" [data-type]="'string'" [hidden]="false"
                   [text]="'Default'"></amexio-data-table-column>
<amexio-data-table-column [width]="65" [data-index]="'description'" [data-type]="'string'" [hidden]="false"
                   [text]="'Description'"></amexio-data-table-column>
</amexio-datagrid>
<br>
        
          <br>
          <amexio-datagrid title="Tab Events" [enable-column-fiter]="false"
                           [http-method]="'get'"
                           [http-url]="'assets/apireference/layout/tab/vertical-tab/basictab.json'"
                           [data-reader]="'events'"
                           [enable-data-filter]="false" >
            <amexio-data-table-column [width]="20"[data-index]="'name'" [data-type]="'string'" [hidden]="false"
                                      [text]="'Name'"></amexio-data-table-column>
            <amexio-data-table-column [width]="80" [data-index]="'description'" [data-type]="'string'" [hidden]="false"
                                      [text]="'Description'"></amexio-data-table-column>
          </amexio-datagrid>

        </amexio-tab>
        <amexio-tab title="Source">
          <div style="overflow-y: scroll">
          <amexio-vertical-tab-view>
            <amexio-tab title="HTML" [active]="true">
              <ng-container *ngIf="htmlCode">
                <!--<clip-copy [htmlCode]="htmlCode" (onClick)="onCopyClick()"></clip-copy>-->
                <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
              </ng-container>
            </amexio-tab>
            <amexio-tab title="Type Script">
              <ng-container *ngIf="typeScriptCode">
                <prism-block [code]="typeScriptCode" [language]="'typescript'"></prism-block>
              </ng-container>
            </amexio-tab>
          </amexio-vertical-tab-view>
          </div>
        </amexio-tab>
        <amexio-tab title="Live">
        <p align="center">Amexio Sandbox</p>
        <iframe style="width: 100%; height: 600px" src="https://stackblitz.com/edit/amexio-v4-right-aligned-vertical-tab?embed=1&file=app/tabs/rightverticaltab/rightverticaltab.demo.html" frameborder="0" allowfullscren="allowfullscren"></iframe>
        </amexio-tab>
      </amexio-tab-view>
    </amexio-body>
  </amexio-card>
  <!--<amexio-notification [data]="copyMsgArray"></amexio-notification>-->
