<amexio-card header="true">
    <amexio-header>
        vertical Layouts
    </amexio-header>
    <amexio-body>
        <p>
                A Vertical layout lays out a container with single column and multiple rows.
        </p>
        <amexio-tab-view>
            <amexio-tab title="Demo" active="true">

                <amexio-layout-columns [orientation]="'horizontal'" [border]="false">
                    <amexio-layout-item style="height:300px;" [fit]="true" *ngFor="let alignment of ['start','space-between','center']">

                        <b>Alignment is {{alignment}}</b>

                        <amexio-layout-columns [fit]="true" [border]="true" [orientation]="'vertical'" [alignment]="alignment">
                            <amexio-layout-item *ngFor="let item of  ['1','2','3']">

                                <amexio-panel [header]="true" [border]="false" [title]="'Panel'+item" [expanded]="(item === '1') ">
                                    <amexio-label>
                                        Panel Content
                                    </amexio-label>
                                </amexio-panel>
                            </amexio-layout-item>

                        </amexio-layout-columns>
                    </amexio-layout-item>
                </amexio-layout-columns>
                <br /><br />
                <hr />




                <amexio-layout-columns [orientation]="'horizontal'" [border]="false">
                    <amexio-layout-item style="height:300px;" [fit]="true" *ngFor="let alignment of ['start','space-between','center']">

                        <b>Alignment is {{alignment}}</b>

                        <amexio-layout-columns [fit]="true" [border]="true" [orientation]="'vertical'" [alignment]="alignment">
                            <amexio-layout-item *ngFor="let item of  ['1','2','3']">

                                <amexio-panel [border]="true" [header]="false" [title]="'item'" [expanded]="false">
                                    <amexio-label>
                                        Panel Content
                                    </amexio-label>
                                </amexio-panel>
                            </amexio-layout-item>

                        </amexio-layout-columns>
                    </amexio-layout-item>
                </amexio-layout-columns>

                <br /><br />
                <hr />
                <amexio-layout-columns [orientation]="'horizontal'" [border]="false">
                    <amexio-layout-item style="height:300px;" [fit]="true" *ngFor="let alignment of ['end','space-around','space-evenly']">

                        <b>Alignment is {{alignment}}</b>

                        <amexio-layout-columns [fit]="true" [border]="false" [orientation]="'vertical'" [alignment]="alignment">
                            <amexio-layout-item *ngFor="let item of  ['1','2','3']">

                                <amexio-panel [border]="true" [header]="false" [title]="'item'" [expanded]="false">
                                    <amexio-label>
                                        Panel Content
                                    </amexio-label>
                                </amexio-panel>
                            </amexio-layout-item>

                        </amexio-layout-columns>
                    </amexio-layout-item>
                </amexio-layout-columns>


                <br /> <br />

                <b> Demo - Horizontal + Column Layout </b>
                <hr />
                <div style="height: 300px;">

                    <amexio-layout-columns [fit]="true" [border]="false" [orientation]="'horizontal'" [alignment]="'space-between'">
                        <amexio-layout-item [padding]="'0px'" [fit]="true">
                            <amexio-layout-columns [border]="true" [orientation]="'vertical'" [alignment]="'space-between'">
                                <amexio-layout-item *ngFor="let item of ['1','2','3']">
                                    Vertical item <b>{{item}}</b>
                                </amexio-layout-item>
                            </amexio-layout-columns>
                        </amexio-layout-item>

                        <amexio-layout-item [padding]="'0px 5px'" [fit]="true">
                            <amexio-layout-columns [border]="true" [orientation]="'vertical'" [alignment]="'space-between'">
                                <amexio-layout-item *ngFor="let item of ['start','center','end']">
                                    <amexio-layout-columns [border]="true" [orientation]="'horizontal'" [alignment]="item">
                                        <amexio-layout-item *ngFor="let litem of ['1','2']">
                                            Horizontal <b> {{item}} {{litem}}</b>
                                        </amexio-layout-item>
                                    </amexio-layout-columns>
                                </amexio-layout-item>
                            </amexio-layout-columns>
                        </amexio-layout-item>

                        <amexio-layout-item [padding]="'0px 5px'" [fit]="true">
                            <amexio-layout-columns [border]="true" [orientation]="'vertical'" [alignment]="'start'">
                                <amexio-layout-item [fit]="true" *ngFor="let alignment of  ['start','center','end','space-between','space-around','space-evenly']">
                                    <amexio-layout-columns [border]="true" [orientation]="'horizontal'" [alignment]="alignment">
                                        <amexio-layout-item *ngFor="let item of ['1','2']">
                                            Hor {{alignment}} {{item}}
                                        </amexio-layout-item>
                                    </amexio-layout-columns>
                                </amexio-layout-item>
                            </amexio-layout-columns>
                        </amexio-layout-item>

                    </amexio-layout-columns>

                </div>




            </amexio-tab>


            <amexio-tab title="API Reference">
                <amexio-datagrid title="Properties <amexio-layout-columns>" [enable-column-fiter]="false" [http-method]="'get'"
                    [http-url]="'assets/apireference/layout/verticallayout.json'" [data-reader]="'properties'"
                    [enable-data-filter]="false">
                    <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false"
                        [text]="'Name'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'version'" [data-type]="'string'" [hidden]="false"
                        [text]="'Version'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="10" [data-index]="'type'" [data-type]="'string'" [hidden]="false"
                        [text]="'Type'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="10" [data-index]="'default'" [data-type]="'string'" [hidden]="false"
                        [text]="'Default'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="65" [data-index]="'description'" [data-type]="'string'" [hidden]="false"
                        [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>
                <br>
                <amexio-datagrid title="Properties : <Amexio-layout-item>" [enable-column-fiter]="false" [http-method]="'get'"
                    [http-url]="'assets/apireference/layout/verticallayout.json'" [data-reader]="'propertiesitem'"
                    [enable-data-filter]="false">
                    <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false"
                        [text]="'Name'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'version'" [data-type]="'string'" [hidden]="false"
                        [text]="'Version'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="10" [data-index]="'type'" [data-type]="'string'" [hidden]="false"
                        [text]="'Type'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'default'" [data-type]="'string'" [hidden]="false"
                        [text]="'Default'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="35" [data-index]="'description'" [data-type]="'string'" [hidden]="false"
                        [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>
                <br>


            </amexio-tab>


            <amexio-tab title="Source">
                <div style="overflow-y: scroll">
                    <amexio-vertical-tab-view>
                        <amexio-tab title="HTML" [active]="true">
                            <ng-container *ngIf="htmlCode">
                                <!--<clip-copy [htmlCode]="htmlCode" (onClick)="onCopyClick()"></clip-copy>-->
                                <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                        <amexio-tab title="type Script">
                            <ng-container *ngIf="typeScriptCode">
                                <prism-block [code]="typeScriptCode" [language]="'typeScriptCode'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                    </amexio-vertical-tab-view>
                </div>
            </amexio-tab>
            <amexio-tab title="Live">
                <p align="center">Amexio Sandbox</p>
                <iframe style="width: 100%; height: 600px" src="https://stackblitz.com/edit/amexio-v4-rowlayout?embed=1&file=app/layouts/row/row.demo.html"
                    frameborder="0" allowfullscren="allowfullscren"></iframe>
            </amexio-tab>





        </amexio-tab-view>
    </amexio-body>
</amexio-card>
<!--<amexio-notification [data]="copyMsgArray"></amexio-notification>-->