<amexio-api-structure [url]="'assets/componentjson/themeswitcher/themeswitcher.json'">
    <amexio-api-demo>

        <amexio-radio-group [field-label]="'Select Col Size'" name="colsize" [display-field]="'colsize'"
            [value-field]="'colsize'" [horizontal]="true" [data]="colsizedata" [(ngModel)]="colsize"
            (onSelection)="onColSizeSelected($event)">
        </amexio-radio-group>


        <amexio-theme-switcher [relative]="true" [col-size]="colsize">
        </amexio-theme-switcher>
    </amexio-api-demo>
</amexio-api-structure>