<amexio-api-structure [url]="'assets/componentjson/themeswitcher/themeswitcher.json'">
    <amexio-api-demo>
        <amexio-layout-columns [border]="true" [fit]="true" [alignment]="'start'" [orientation]="'horizontal'">
            <amexio-layout-item>
                <amexio-radio-group [field-label]="'Select Col Size'" name="colsize" [display-field]="'colsize'"
                    [value-field]="'colsize'" [horizontal]="true" [data]="colsizedata" [(ngModel)]="colsize"
                    (onSelection)="onColSizeSelected($event)">
                </amexio-radio-group>
            </amexio-layout-item>
            <amexio-layout-item>
                <amexio-button style="display: block; position: absolute;bottom :20px;"
                    [label]="(toggle) ? 'Hide Theme Switcher' : 'Show Theme Switcher' " [type]="'theme-color'"
                    [tooltip]="'toolTip'" (onClick)="switchTheme()">
                </amexio-button>
            </amexio-layout-item>
        </amexio-layout-columns>

        <amexio-window-ce [width]="(250*colsize)+'px'" [(show)]="toggle" [horizontal-position]="'right'"
            [vertical-position]="'bottom'">
            <amexio-header-ce [align]="'start'">
                <amexio-label>
                    Amexio Themes
                </amexio-label>
            </amexio-header-ce>
            <amexio-theme-switcher [col-size]="colsize" style="display: block; max-height: 500px; overflow: auto;">
            </amexio-theme-switcher>
        </amexio-window-ce>
    </amexio-api-demo>
</amexio-api-structure>