<amexio-card header="true">
    <amexio-header>
        D3 pie Chart
    </amexio-header>
    <amexio-body>
        <p>An D3 pie chart that is rendered within the browser using SVG .Displays tips when hovering over points.</p>
        <amexio-tab-view>

            <amexio-tab title="Demo" active="true">
                <amexio-row>
                    <amexio-column [size]="12">
                        <amexio-card [header]="true" [header-align]="'left'" [show]="'true'">
                            <amexio-header>
                                D3-pie with Legend
                            </amexio-header>
                            <amexio-body>
                                <amexio-d3-chart-pie [title]="'My Daily Activities'" [data]="pieChartData">
                                    <amexio-d3chartlegend [data]="pieChartData">
                                    </amexio-d3chartlegend>
                                </amexio-d3-chart-pie>
                            </amexio-body>
                        </amexio-card>
                    </amexio-column>
                </amexio-row>
            </amexio-tab>

            <amexio-tab title="API Reference">
                <amexio-datagrid title="D3-Pie-Chart Properties<amexio-d3-chart-pie>" [enable-column-fiter]="false" [http-method]="'get'"
                    [http-url]="'assets/apireference/charts/d3charts/d3piechart.json'" [data-reader]="'properties'" [enable-data-filter]="false">
                    <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false" [text]="'Name'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'type'" [data-type]="'string'" [hidden]="false" [text]="'Type'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'version'" [data-type]="'string'" [hidden]="false" [text]="'Type'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'default'" [data-type]="'string'" [hidden]="false" [text]="'Default'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="45" [data-index]="'description'" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>
                <br>
                <amexio-datagrid title="Legend <amexio-d3-chart-pie>" [enable-column-fiter]="false" [http-method]="'get'" [http-url]="'assets/apireference/charts/d3charts/d3piechart.json'"
                    [data-reader]="'legend'" [enable-data-filter]="false">
                    <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false" [text]="'Name'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="65" [data-index]="'description'" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>


            </amexio-tab>
            <amexio-tab title="Source">
                <div style="overflow-y: scroll">
                    <amexio-vertical-tab-view>
                        <amexio-tab title="HTML" [active]="true">
                            <ng-container *ngIf="htmlCode">
                                <!--<clip-copy [htmlCode]="htmlCode" (onClick)="onCopyClick()"></clip-copy>-->
                                <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                        <amexio-tab title="Type Script">
                            <ng-container *ngIf="typeScriptCode">
                                <prism-block [code]="typeScriptCode" [language]="'typescript'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                        <amexio-tab title="Data Source">
                            <ng-container *ngIf="dataSourceCode">
                                <prism-block [code]="dataSourceCode" [language]="'json'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                    </amexio-vertical-tab-view>
                </div>
            </amexio-tab>
            <amexio-tab title="Live">
                <p align="center">Amexio Sandbox</p>
                <iframe style="width: 100%; height: 600px" src="https://stackblitz.com/edit/amexio-v4-d3 bar chart?embed=1&file=app/charts/d3 bar chart/d3 bar chart.demo.html"
                    frameborder="0" allowfullscren="allowfullscren"></iframe>
            </amexio-tab>
        </amexio-tab-view>
    </amexio-body>
</amexio-card>