<amexio-card header="true">
    <amexio-header>
        Appointment
    </amexio-header>
    <amexio-body>
        <p>An appointment component used to schedule appointment with available dates and time.</p>
        <amexio-tab-view>
            <amexio-tab title="Demo" active="true">
                <amexio-card header="true">
                    <amexio-header> Appointment Demo: Single Select Date </amexio-header>
                    <amexio-body>
                        <amexio-ee-appointment [height]="'200px'" [date]="date" (onSingleSelect)="onSingleSelect($event)" [start-time]="10" [end-time]="15"
                            [available-slots]="availableslots">
                        </amexio-ee-appointment>
                    </amexio-body>
                </amexio-card>
                <amexio-card header="true">
                    <amexio-header> Selected Date-Time </amexio-header>
                    <amexio-body>
                        <pre><code>{{singleSelectedData | json}}</code></pre>
                    </amexio-body>
                </amexio-card>
                <br>
                <amexio-card header="true">
                    <amexio-header> Appointment Demo: Multi Select Date </amexio-header>
                    <amexio-body>
                        <amexio-ee-appointment [height]="'200px'" [date]="date" [multi-select]="true" (onMultiSelect)="onMultiSelect($event)" [start-time]="12"
                            [end-time]="17" [available-slots]="multipleAvailableslots">
                        </amexio-ee-appointment>
                    </amexio-body>
                </amexio-card>
                <amexio-card header="true">
                    <amexio-header> Selected Date-Time </amexio-header>
                    <amexio-body>
                        <pre><code>{{multiSelectedData | json}}</code></pre>
                    </amexio-body>
                </amexio-card>
            </amexio-tab>
            <amexio-tab title="API Reference">
                <amexio-datagrid title="Properties<amexio-ee-appointment>" [enable-column-fiter]="false" [http-method]="'get'" [http-url]="'assets/apireference/enterprise/appointment.json'"
                    [data-reader]="'properties'" [enable-data-filter]="false">
                    <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false" [text]="'Name'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'version'" [data-type]="'string'" [hidden]="false" [text]="'version'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'type'" [data-type]="'string'" [hidden]="false" [text]="'Type'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'default'" [data-type]="'string'" [hidden]="false" [text]="'Default'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="40" [data-index]="'description'" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>
                <br>
                <amexio-datagrid title="Events" [enable-column-fiter]="false" [http-method]="'get'" [http-url]="'assets/apireference/enterprise/appointment.json'"
                    [data-reader]="'events'" [enable-data-filter]="false">
                    <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false" [text]="'Name'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="15" [data-index]="'version'" [data-type]="'string'" [hidden]="false" [text]="'version'"></amexio-data-table-column>
                    <amexio-data-table-column [width]="65" [data-index]="'description'" [data-type]="'string'" [hidden]="false" [text]="'Description'"></amexio-data-table-column>
                </amexio-datagrid>

            </amexio-tab>
            <amexio-tab title="Source">
                <div style="overflow-y: scroll">
                    <amexio-vertical-tab-view>
                        <amexio-tab title="HTML" [active]="true">
                            <ng-container *ngIf="htmlCode">
                                <!--<clip-copy [htmlCode]="htmlCode" (onClick)="onCopyClick()"></clip-copy>-->
                                <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                        <amexio-tab title="Type Script">
                            <ng-container *ngIf="typeScriptCode">
                                <prism-block [code]="typeScriptCode" [language]="'typescript'"></prism-block>
                            </ng-container>
                        </amexio-tab>
                    </amexio-vertical-tab-view>
                </div>
            </amexio-tab>
            <amexio-tab title="Live">
                <p align="center">Amexio Sandbox</p>
                Work in Progress
            </amexio-tab>
        </amexio-tab-view>
    </amexio-body>
</amexio-card>