<amexio-api-structure [url]="'assets/componentjson/calendar/calendar-demo1.json'">
    <amexio-api-accessible>
        <amexio-box border-color="blue" border="left" [padding]="true" align="left">
            <p>The Calendar is WAI ARIA-accessible through the Tab key.
            </p>
            <p>Role:Button-The button role defines its type.It consist of aria-pressed aria-hidden and aria-label.
            </p>
        </amexio-box>
    </amexio-api-accessible>
   <amexio-api-demo>
       <floating-panel-calendar></floating-panel-calendar>
   </amexio-api-demo>
</amexio-api-structure>