<amexio-api-structure [url]="'assets/componentjson/calendar/calendar-demo1.json'">
    <amexio-api-accessible>
        <amexio-box border-color="blue" border="left" [padding]="true" align="left">
            <p>The Calendar is WAI ARIA-accessible through the Tab key.
            </p>
            <p>Role:Button-The button role defines its type.It consist of aria-pressed aria-hidden and aria-label.
            </p>
        </amexio-box>
    </amexio-api-accessible>
    <amexio-api-demo>
        <div style="height:1000px;">
            <amexio-calendar [event-color-grouping]="true" [calendar-date]="calendardate" (onEventClicked)="onEventClicked($event)" [events]="events">
            </amexio-calendar>
        </div>



        <amexio-floating-panel [absolute]="true" [show-panel]="parentPanel" [left-position]="floatleft" [right-position]="floatright" [top-position]="floattop" [closeable]="true"
            [width]="'330'" [height]="200" [title]="title" (onClose)="onParentClose($event)">
            <amexio-radio-group #id name="floating" [data-reader]="'data'" [display-field]="'meeting'" [value-field]="'id'" [http-method]="'get'"
                [http-url]="'assets/data/componentdata/calendarfloating.json'" (onSelect)="setSelectedOption($event)">
            </amexio-radio-group>
        </amexio-floating-panel>



        <amexio-floating-panel  [absolute]="true" [show-panel]="childPanel" [left-position]="floatleft"  [right-position]="floatright" [top-position]="floattop" [closeable]="true"
        [width]="'455'" [height]="300" [title]="rowRecord" (onClose)="onChildClose($event)">
        <amexio-label>
            Wednesday, July 12 9.30 - 10.30
        </amexio-label>
        <br>
        <br>
        <amexio-row>
            <amexio-column size="1" [fit]="false">

            </amexio-column>
            <amexio-column size="2" [fit]="false">
                <amexio-image [icon-class]="'fa fa-video-camera fa-2x'" [tooltip]="'Fontawesome bitcoin'"></amexio-image>
            </amexio-column>
            <amexio-column size="9" [fit]="false">
                <amexio-label [font-color]="'blue'">
                    Join Hangouts meet
                </amexio-label>
                <br>
                <amexio-label>
                    meet.google.com/izm-imal-gns
                </amexio-label>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="1" [fit]="false">

            </amexio-column>
            <amexio-column size="2" [fit]="false">
                <amexio-image [icon-class]="'fa fa-phone fa-2x'" [tooltip]="'Fontawesome bitcoin'"></amexio-image>
            </amexio-column>
            <amexio-column size="9" [fit]="false">
                <amexio-label [font-color]="'blue'">
                    Join By phone
                </amexio-label>
                <br>
                <amexio-label>
                    +1 513-212-9632 PIN: 745 521#
                </amexio-label>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="1" [fit]="false">

            </amexio-column>
            <amexio-column size="2" [fit]="false">
                <amexio-image [icon-class]="'fa fa-users fa-2x'" [tooltip]="'Fontawesome bitcoin'"></amexio-image>
            </amexio-column>
            <amexio-column size="9" [fit]="false">
                <amexio-label [font-color]="'blue'">
                    2 Guests
                </amexio-label>
                <br>
                <amexio-label>
                    1 yes, 1 awaiting
                </amexio-label>
                <br>
                <amexio-image [icon-class]="'fa fa-user'"></amexio-image>
                &nbsp;
                <amexio-label>
                    Ketan Gote
                </amexio-label>
                <br>
                <amexio-image [icon-class]="'fa fa-user-times'"></amexio-image>
                &nbsp;
                <amexio-label>
                    Rashmi Thakkar
                </amexio-label>
            </amexio-column>
        </amexio-row>


    </amexio-floating-panel>


    </amexio-api-demo>
</amexio-api-structure>