<amexio-nav [title]="'Amexio'" [logo]="'./assets/images/logos/amexio-logo.png'">
  <amexio-nav-item position-right *ngFor="let topMenu of topMenuData">
    <a style="padding-left: 10px;color: white;text-decoration:none" [attr.href]="topMenu.link"
       [target]="topMenu.label == 'Home' ? '' : '_blank'">{{topMenu.label}}</a>
  </amexio-nav-item>

  <amexio-nav-item position-right>
    <a href="https://github.com/meta-magic/amexio.github.io">
      <img style="height: 20px;width: 20px;padding-left: 5px;" alt src="assets/images/logos/git.png">
    </a>
   </amexio-nav-item>
<!--<amexio-nav-item position-right>  <div id="google_translate_element"></div> </amexio-nav-item>-->
  <!--<amexio-nav-item position-right style="padding-left: 50px">-->
    <!--<div id="google_translate_element"></div>-->
  <!--</amexio-nav-item>-->
</amexio-nav>
<br><br><br><br>
<amexio-row>
  <amexio-column size="25">
    <amexio-side-nav
      [httpUrl]="'assets/data/menus/menu.json'"
      [httpMethod]="'get'"
      [dataReader]="'data'"
      (nodeClick)="onNodeClick($event)">
    </amexio-side-nav>
  </amexio-column>
  <amexio-column size="75">
    <router-outlet></router-outlet>
  </amexio-column>
</amexio-row>
