<div style="font-family: 'Titillium Web', sans-serif;">
    <amexio-homepage-ce [type]="'1'">
        <amexio-homepage-northpanel>
            <amexio-nav [enable-side-nav-position]="true" [title]="'Amexio'" [logo]="'assets/images/logos/amexio-logo.png'">
                <amexio-nav-item style="padding-left:10px" position-left [type]="'slider'">
                </amexio-nav-item>
                <amexio-nav-item position-right *ngFor="let menus of amexiotechmenus" [type]="'menu'" [title]="menus.text" [icon]="menus.icon"
                    [data]="menus.submenus" (onNavItemClick)="externalLink($event)">
                </amexio-nav-item>
            </amexio-nav>
        </amexio-homepage-northpanel>
        <amexio-homepage-westpanel>
            <amexio-side-nav>

                <amexio-sidenav-node class="side-nav-with-tab">
                    <amexio-accordion expand-all="true" angle-icon=true>
                        <amexio-accordion-tab header="Home">

                            <amexio-side-nav [http-url]="'assets/data/menus/submenus.json'" [http-method]="'get'" [width]="'100%'" [data-reader]="'data'"
                                (nodeClick)="onNodeClick($event)" [position]="'relative'">
                            </amexio-side-nav>

                        </amexio-accordion-tab>
                        <amexio-accordion-tab [active]="true" header="Components SE/EE/CE">
                            <amexio-tab-view class="side-nav-with-tab" [divide-header-equally]=true [closable]="false">
                                <amexio-tab [active]="true" [icon]="'fa fa-user'" [title]="'SE'">
                                    <amexio-side-nav [http-url]="'assets/data/menus/semenus.json'" [http-method]="'get'" [data-reader]="'data'" (nodeClick)="onNodeClick($event)"
                                        [width]="'100%'" [position]="'relative'">
                                    </amexio-side-nav>

                                </amexio-tab>
                                <amexio-tab [active]="false" [icon]="'fa fa-building'" [title]="'EE'" >
                                    <amexio-side-nav [http-url]="'assets/data/menus/eemenus.json'" [http-method]="'get'" [data-reader]="'data'" (nodeClick)="onNodeClick($event)"
                                    [width]="'100%'" [position]="'relative'">
                                    </amexio-side-nav>

                                </amexio-tab>
                                <amexio-tab [active]="false" [icon]="'fa fa-paint-brush'" [title]="'CE'">
                                    <amexio-side-nav [http-url]="'assets/data/menus/cemenus.json'" [http-method]="'get'" [data-reader]="'data'" (nodeClick)="onNodeClick($event)"
                                        [width]="'100%'" [position]="'relative'">
                                    </amexio-side-nav>

                                </amexio-tab>
                            </amexio-tab-view>

                        </amexio-accordion-tab>
                    </amexio-accordion>
                </amexio-sidenav-node>
                <amexio-sidenav-node style="display: block; visibility: hidden;">
                    <amexio-label>
                        Testing Content
                    </amexio-label>
                </amexio-sidenav-node>
                <!-- <amexio-sidenav-node style="display: block; visibility: hidden;">
                    <amexio-label>
Testing Content
                    </amexio-label>
                </amexio-sidenav-node> -->
            </amexio-side-nav>
        </amexio-homepage-westpanel>
        <amexio-homepage-centerpanel>
            <div *ngIf="isRouteLoading">
                <amexio-spinner [type]="'rectanglebounce'" [vertical-position]="'center'" [horizontal-position]="'center'" [color]="'black'"
                    [size]="'7px'">
                </amexio-spinner>
            </div>
            <router-outlet></router-outlet>

        </amexio-homepage-centerpanel>
    </amexio-homepage-ce>
</div>