<amexio-api-structure [url]="'assets/componentjson/creative/creative-ribbon.json'">
  <amexio-api-demo>
    <amexio-row>
      <amexio-column size="12">
        <amexio-card [header]="true" [header-align]="'left'" [footer]="false" [footer-align]="'left'" [show]="'showVariable'"
          height="height">
          <amexio-header>
            Ribbon Cards Demo
          </amexio-header>
          <amexio-body>
            <amexio-row>
              <amexio-layout-columns [orientation]="'vertical'" [border]="false">
                <amexio-layout-item [fit]="true" *ngFor="let alignment of ['center']">
                  <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="alignment">
                    <amexio-layout-item *ngFor="let item of  cardData">
                      <amexio-card-ce [height]="200" [style-type]="item.styletype">
                        <amexio-header-ce amexioColorPalette [color-palette]="item.colorpalette" [gradient]="true">
                          <br>
                          <amexio-label size="medium-bold">
                            {{item.popularity}}
                          </amexio-label>
                        </amexio-header-ce>
                        <amexio-body-ce style="text-align: center">
                          <amexio-layout-item>
                            <amexio-label size="medium-bold" [ngStyle]="{
                              'margin-top': (item.styletype !=='ribbon-style') ? '14px':'-16px',
                              'margin-bottom': (item.styletype !=='ribbon-style') ? '-23px':'-19px',
                               'display': (item.styletype !=='ribbon-style') ? 'block':'block'
                              }">
                              {{item.cardheader}}
                            </amexio-label>
                          </amexio-layout-item>
                          <amexio-layout-columns [alignment]="'center'" [orientation]="'vertical'" [border]="false"
                            [responsive-mode]="true">
                            <amexio-layout-item>
                              <amexio-image style="display:block"
                                path={{item.path}}></amexio-image>
                            </amexio-layout-item>
                            <amexio-layout-item style="text-align: center">
                              <amexio-label size="medium">
                                <a style="color: blue;cursor: pointer;"><b>{{item.contact}}</b></a>
                              </amexio-label>
                            </amexio-layout-item>
                            <amexio-layout-item style="text-align: center">
                              <amexio-label size="medium">
                                {{item.price}}
                              </amexio-label>
                            </amexio-layout-item>
                          </amexio-layout-columns>
                        </amexio-body-ce>
                        <amexio-button [label]="item.buttonlabel" [type]="'theme-color'" [block]="true">
                        </amexio-button>
                      </amexio-card-ce>
                    </amexio-layout-item>
                  </amexio-layout-columns>
                </amexio-layout-item>
              </amexio-layout-columns>
            </amexio-row>
          </amexio-body>
        </amexio-card>
      </amexio-column>
    </amexio-row>
  </amexio-api-demo>
</amexio-api-structure>