<amexio-row>
        <amexio-column [size]="12">

            <amexio-row>
                <amexio-column [size]="8" [fit]="true">
                    <amexio-card [body-height] [header]="true" [show]="'true'">
                        <amexio-header>
                            D3-bar chart with UserDefine Color
                        </amexio-header>
                        <amexio-body>
                            <!-- [data]="userDefineColorData" -->
                            <amexio-d3-chart-bar [title]="'Population of Cities in India'" [label-color]="'white'" [label]="true" (onChartClick)="onDefaultChartClick($event)"
                                (onLegendClick)="onUserDefineLegendClick($event)" [color]="userDefineColors" [http-method]="'get'"
                                [data-reader]="'bardata'" [http-url]="'assets/data/componentdata/d3bardemo.json'">
                            </amexio-d3-chart-bar>
                        </amexio-body>
                    </amexio-card>
                </amexio-column>
                <amexio-column [size]="4" [fit]="true">
                    <amexio-card header="true">
                        <amexio-header>
                            Click On Legend/ Click on Chart
                        </amexio-header>
                        <amexio-body>
                            <pre><code>{{userDataSource |json }}</code></pre>

                        </amexio-body>
                    </amexio-card>

                </amexio-column>
            </amexio-row>
            <amexio-row>
                <amexio-column [size]="8" [fit]="true">
                    <amexio-card [header]="true" [show]="'true'">
                        <amexio-header>
                            D3-bar with Legend Default Color
                        </amexio-header>
                        <amexio-body>
                            <ng-container *ngIf="defultColorData && defultColorData.length > 0">
                                <amexio-d3-chart-bar [title]="'Company Performance Details'" [label]="true" (onChartClick)="onDefaultChartClick1($event)"
                                    (onLegendClick)="onDefaultLegendClick($event)" [data]="defultColorData">
                                </amexio-d3-chart-bar>
                            </ng-container>

                        </amexio-body>
                    </amexio-card>
                </amexio-column>
                <amexio-column [size]="4" [fit]="true">
                    <amexio-card header="true">
                        <amexio-header>
                            Click On Legend/ Click On Chart
                        </amexio-header>
                        <amexio-body>
                            <pre><code>{{sourceData |json }}</code></pre>

                        </amexio-body>
                    </amexio-card>

                </amexio-column>
            </amexio-row>

        </amexio-column>
    </amexio-row>