<amexio-api-structure [url]="'assets/componentjson/charts/google charts/barchart.json'">
   <amexio-api-demo>  
      <amexio-row>
          <amexio-column size="6">
            <amexio-chart-bar [data]="barChartData" [height]="'400px'" [width]="'100%'" >
              <amexio-chart-title [title]="'Population of Largest U.S. Cities'"></amexio-chart-title>
              <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
            </amexio-chart-bar>
          </amexio-column>
          <amexio-column size="6">
            <amexio-chart-bar [data]="barStackChartData" [height]="'400px'" [width]="'100%'"  [stacked]="true">
              <amexio-chart-title [title]="'Company Performance'"></amexio-chart-title>
              <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
            </amexio-chart-bar>
          </amexio-column>
        </amexio-row>
  </amexio-api-demo>
</amexio-api-structure>