<amexio-button [label]="'Hide/UnHide Card'" [type]="'primary'"
               [tooltipMessage]="'Hide/UnHide Card'"
               (click)="toggle()"></amexio-button>
<amexio-card [enableHeader]="true" [enableFooter]="true" [showCard]="flag"
             [footeralign]="'right'">
  <amexio-header>
    <h5> Employee Registration</h5>
  </amexio-header>
  <amexio-body>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-text-input [fieldLabel]="'Name'" name="name"
                           [placeholder]="'Enter name'"
                           [iconFeedBack]="true">
        </amexio-text-input>
      </amexio-column>
      <amexio-column [size]="6">
        <amexio-text-input [fieldLabel]="'Address'" name="address"
                           [placeholder]="'Enter address'"
                           [iconFeedBack]="true">
        </amexio-text-input>
      </amexio-column>
    </amexio-row>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-number-input [fieldLabel]="'Number Input'"
                             [placeholder]="'Enter Age'">
        </amexio-number-input>
      </amexio-column>
      <amexio-column [size]="6">
        <amexio-email-input [fieldLabel]="'Email Id'" name="email"
                            [placeholder]="'Enter Email Id'"
                            [allowBlank]="false" [errorMsg]="'Please Enter Email Id'"
                            [enablePopOver]="true"
                            [iconFeedBack]="true">
        </amexio-email-input>
      </amexio-column>
    </amexio-row>
  </amexio-body>
  <amexio-action>
    <amexio-button [label]="'Save'" [type]="'primary'"></amexio-button>
  </amexio-action>
</amexio-card>
