<amexio-button [label]="'Hide/UnHide Card'" [type]="'primary'"
               [tooltip]="'Hide/UnHide Card'"
               (click)="toggle()"></amexio-button>
<amexio-card [header]="true" [footer]="true" [show]="flag"
             [footeralign]="'right'">
  <amexio-header>
    <h5> Employee Registration</h5>
  </amexio-header>
  <amexio-body>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-text-input [fieldlabel]="'Name'" name="name"
                           [placeholder]="'Enter name'"
                           [iconfeedback]="true">
        </amexio-text-input>
      </amexio-column>
      <amexio-column [size]="6">
        <amexio-text-input [fieldlabel]="'Address'" name="address"
                           [placeholder]="'Enter address'"
                           [iconfeedback]="true">
        </amexio-text-input>
      </amexio-column>
    </amexio-row>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-number-input [fieldlabel]="'Number Input'"
                             [placeholder]="'Enter Age'">
        </amexio-number-input>
      </amexio-column>
      <amexio-column [size]="6">
        <amexio-email-input [fieldlabel]="'Email Id'" name="email"
                            [placeholder]="'Enter Email Id'"
                            [allowblank]="false" [errormsg]="'Please Enter Email Id'"
                            [enablepopover]="true"
                            [iconfeedback]="true">
        </amexio-email-input>
      </amexio-column>
    </amexio-row>
  </amexio-body>
  <amexio-action>
    <amexio-button [label]="'Save'" [type]="'primary'"></amexio-button>
  </amexio-action>
</amexio-card>
