<amexio-card-ce>
    <amexio-body-ce>
        <amexio-layout-columns [border]="false" [fit]="true" [alignment]="'center'" [orientation]="'vertical'">
            <amexio-layout-item [fit]="true">
                <amexio-label [size]="'large-bold'">
                    Amexio Architecture
                </amexio-label>
                <hr />
            </amexio-layout-item>
            <amexio-layout-item>
                <amexio-image
                    [path]="'https://img1.wsimg.com/isteam/ip/36e99eeb-f2d4-43e5-ba0f-5ea68df2588f/b0f2e860-eb63-40e9-b24c-f360748ba3ca.jpg'">
                </amexio-image>
            </amexio-layout-item>
            <hr />
            <amexio-layout-item>
                <amexio-label [size]="'large-bold'">
                    Amexio Standard Edition (SE) Features
                </amexio-label>
                <ul>
                    <li>Accessibility - Amexio components supports all Accessibility requirements based on ARIA 1.1,
                        WCAG 2.1 and Section 508 Compliance</li>
                    <li>Layouts - Amexio Provides the Best in Class Layout support for the Angular Platform. Out of box
                        10 layouts are supported including CSS3 Grid</li>
                    <li>Forms - Amexio supports both Template Driven and Reactive Forms with 1 way and 2 way data
                        bindings. With 5.9 release we introduced Creative Forms</li>
                    <li>Responsive Design - Angular (6 & above) UI Components with Responsive design enabled by default.
                        Responsive design is based of Layout Responsiveness and UI Component Structure responsiveness
                    </li>
                    <li>Amexio Charts - Amexio Supports Google Charts and D3 Charts with chart types like Bar, Pie,
                        Line, Stacked bar, Bubble Charts etc. and support 10+ D3 Charts. All D3 Charts supports
                        Drillable and Zoomable features also</li>
                    <li>Amexio Dashboards - Amexio Dashboards will contain Gauges, Data Point Widgets, Data Point
                        Charts, with built-in Dashboard Templates</li>
                    <li>Amexio Maps - Maps will help you plot your enterprise data on Maps. Google Maps is also
                        supported</li>
                </ul>
            </amexio-layout-item>
            <amexio-layout-item>
                <amexio-label [size]="'large-bold'">
                    Amexio Enterprise Edition (EE) Features
                </amexio-label>
                <amexio-label [size]="'medium-bold'">
                    We will be working with our technology partners to create Advanced Enterprise UI Components
                    exclusively for a business vertical solving a specific business problem.
                </amexio-label>
                <ul>
                    <li>Media (Released with v3.0)</li>
                    <li>Health</li>
                    <li>E-Commerce</li>
                    <li>Manufacturing</li>
                    <li>Supply Chain</li>
                    <li>Logistics</li>
                </ul>
            </amexio-layout-item>

            <amexio-layout-item>
                <amexio-label [size]="'large-bold'">
                    Amexio Creative Edition (CE) Features
                </amexio-label>
            </amexio-layout-item>
            <hr />
            <amexio-layout-item>
                <amexio-label [size]="'large-bold'">
                    Amexio API Support for Enterprises
                </amexio-label><br /><br />
                <amexio-image
                    [path]="'https://img1.wsimg.com/isteam/ip/36e99eeb-f2d4-43e5-ba0f-5ea68df2588f/ec8d0550-38b9-408e-8c79-37e082cc3f83.jpg'">
                </amexio-image><br /><br />
                <!-- <amexio-image
                    [path]="'https://img1.wsimg.com/isteam/ip/36e99eeb-f2d4-43e5-ba0f-5ea68df2588f/cf2e3ef2-2909-4abe-8e98-82042993b91e.jpg'">
                </amexio-image>
 -->
            </amexio-layout-item>

            <amexio-layout-item>
                <amexio-label [size]="'large-bold'">
                    Amexio API Support for IT Services
                </amexio-label> <br /><br />
                <amexio-image
                    [path]="'https://img1.wsimg.com/isteam/ip/36e99eeb-f2d4-43e5-ba0f-5ea68df2588f/7eef005f-0be2-41b0-a8e1-a89bd7bf9e2f.jpg'">
                </amexio-image><br /><br />
                <!-- <amexio-image
                    [path]="'https://img1.wsimg.com/isteam/ip/36e99eeb-f2d4-43e5-ba0f-5ea68df2588f/0a58f5bb-6bf2-4651-962e-301c223a9afc.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=h:1300,cg:true'">
                </amexio-image> -->

            </amexio-layout-item>
            <hr />
        </amexio-layout-columns>
    </amexio-body-ce>

</amexio-card-ce>