<amexio-api-structure [url]="'assets/componentjson/data/virtualscroller1.json'">
    <amexio-box>
        Amexio virtual scroller displays a small subset of records just enough to fill the viewport and uses the same DOM elements as the user scroll
    </amexio-box>
    <amexio-api-demo>
        <amexio-row>
            <amexio-column [size]="12">
                <amexio-card-ce>
                    <amexio-header-ce [border-bottom]="true " amexioColorPalette [gradient]="true " [color-palette]=" 'classic' " [color]=" 'white' ">
                        <amexio-label size="medium ">
                            Carousel with Virtual Scroller
                        </amexio-label>
                    </amexio-header-ce>
                    <amexio-body-ce>
                        <amexio-virtual-scroller *ngIf="carouselData " [height]="560 " [item-size]="180 " [data]="carouselData.items ">
                            <ng-template #amexioBodyTmpl let-row="row ">
                                <amexio-row>
                                    <amexio-column size="12 ">
                                        <amexio-carousel *ngIf="row.data " [data]="row.data ">
                                            <ng-template let-img amexioTemplate="item ">
                                                <amexio-image [height]=" '180px' " [path]="img.imagepath ">
                                                </amexio-image>
                                            </ng-template>
                                        </amexio-carousel>
                                    </amexio-column>
                                </amexio-row>
                            </ng-template>
                        </amexio-virtual-scroller>
                    </amexio-body-ce>
                </amexio-card-ce>
            </amexio-column>
        </amexio-row>
    </amexio-api-demo>
</amexio-api-structure>