<amexio-api-structure [url]="'assets/componentjson/data/virtualscroller.json'">
    <amexio-box>
        Amexio virtual scroller displays a small subset of records just enough to fill the viewport and uses the same DOM elements as the user scroll
    </amexio-box>
    <amexio-api-demo>
        <div style="display:flex;flex-direction: column;">
            <amexio-carousel [data]="carouselImageData" shuffle-interval="1000">
                <ng-template let-gallery amexioTemplate="item">
                    <amexio-image [height]="'250px'" [path]="gallery.imagepath"></amexio-image>
                </ng-template>
            </amexio-carousel>
        </div>
        <div class="virtual-scroller-style" style="flex-grow:1;flex-direction: column;">
            <amexio-virtual-scroller *ngIf="localData2d" [item-size]="150" [data]="localData2d.items">
                <ng-template #amexioBodyTmpl let-row="row">
                    <amexio-row>
                        <amexio-column *ngFor="let item of row.data; let i = index" size="3" [fit]="true">
                            <amexio-card-ce *ngIf="item.imagepath" [align]="'center'" 

                            [zoom-transition-origin] = "getTransitionOrigin(i)"    
                            [cover-image]="item.imagepath"
                             [zoom]="true"
                             [height]="75"
                               >
                              <amexio-body-ce [color]="'white'" style="background: rgba(0,0,0,.7);">
                                 <div>
                                      <amexio-layout-columns [orientation]="'vertical'" [border]="false">
                                            <amexio-layout-item>
                                              <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
                                                <amexio-layout-item>
                                                  
                                                        <amexio-label
                                                             [size]="'small-bold'"
                                                            >
                                                            {{item.title}}                                                         </amexio-label>
                                                 
                                                </amexio-layout-item>
                                              </amexio-layout-columns>
                                            </amexio-layout-item>
                                          </amexio-layout-columns>  
                                          <amexio-layout-columns [orientation]="'vertical'" [border]="false">
                                                <amexio-layout-item>
                                                  <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
                                                    <amexio-layout-item>
                                                  
        
                                                                <amexio-image [icon-class]="'fas fa-caret-square-right fa-2x'" ></amexio-image>
                                                      
                                                    </amexio-layout-item>
                                                  </amexio-layout-columns>
                                                </amexio-layout-item>
                                              </amexio-layout-columns>     
                                   
                                 </div>
         
                              </amexio-body-ce>
 
                            </amexio-card-ce>
                        </amexio-column>
                    </amexio-row>
                </ng-template>
            </amexio-virtual-scroller>
        </div>
    </amexio-api-demo>
</amexio-api-structure>