<amexio-vertical-tab-view >
  <amexio-tab title="Personal" [active]="true"  [icon]="'fa fa-user-circle'">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.</amexio-tab>
  <amexio-tab title="Work" [icon]="'fa fa-building'">
    Nullam nec dolor lobortis, dictum dolor ac, suscipit massa. Donec id suscipit nisi.
    Nunc sit amet aliquet risus.
  </amexio-tab>
  <amexio-tab title="Team" [icon]="'fa fa-users'">
    Phasellus in condimentum elit. In et vestibulum sem. Orci varius natoque penatibus et magnis
    dis parturient montes,nascetur ridiculus mus.
  </amexio-tab>
  <amexio-tab title="Disabled" [disabled]= true [icon]="'fa fa-snowflake'"> 
     Phasellus in condimentum elit. In et vestibulum sem. Orci varius natoque penatibus et magnis 
     dis parturient montes,nascetur ridiculus mus. 
   </amexio-tab>
</amexio-vertical-tab-view>
