<amexio-api-structure [custom-com-data]="customSourceData" [url]="'assets/componentjson/data/tree.json'">
  <amexio-api-demo>
      
 
 <amexio-row>
      <amexio-column size="12">
        <amexio-card [header]="true">
          <amexio-header>
             Drag Drop Functionality within Tree
          </amexio-header>
          <amexio-body>
          <amexio-treeview [data-reader]="'data'" [enable-drag]="true" [enable-drop]="true" [data]="treeLocalData">
          </amexio-treeview>
          </amexio-body>
        </amexio-card>
      </amexio-column>
</amexio-row>

</amexio-api-demo>
</amexio-api-structure>
