<amexio-api-structure [url]="'assets/componentjson/charts/d3charts/d3linechart.json'">
    <amexio-api-demo>
            <amexio-row>
                    <amexio-column [size]="12">
                        <amexio-row>
                            <amexio-column [size]="8" [fit]="true">
                                <amexio-card [header]="true" [show]="'true'">
                                    <amexio-header>
                                        D3-line with multiple lines
                                    </amexio-header>
                                    <amexio-body>
                                        <amexio-d3-chart-line (onChartClick)="onDefaultChartClick($event)" [label]="true" (onLegendClick)="onUserDefineLegendClick($event)"
                                                (onLegendClick)="onUserDefineLegendClick($event)"
                                                [title]="'Popularity Of XYZ & PQR'"
                                                [data] = "doubleLineData"
                                                [label-color] = "'brown'"
                                                >
                                             </amexio-d3-chart-line>
                                    </amexio-body>
                                </amexio-card>
                            </amexio-column>
                            <amexio-column [size]="4" [fit]="true" >
                                <amexio-card header="true" >
                                    <amexio-header>
                                        Click On Legend/Click on Chart
                                    </amexio-header>
                                    <amexio-body>
                                        <pre><code>{{userDataSource |json }}</code></pre>

                                    </amexio-body>
                                </amexio-card>

                            </amexio-column>

                        </amexio-row>

                                <amexio-row>
                                    <amexio-column [size]="8" [fit]="true">
                                        <amexio-card [header]="true" [show]="'true'">
                                            <amexio-header>
                                                D3-line With Single line
                                            </amexio-header>
                                            <amexio-body>
                                                <amexio-d3-chart-line (onChartClick)="onDefaultChartClick($event)"  (onLegendClick)="onDefaultLegendClick($event)"
                                                (onLegendClick)="onDefaultLegendClick($event)"
                                                [title]="'CNX Resources Corp'"
                                                [label]="true"
                                                 [data] = "singlelinedata">
                                             </amexio-d3-chart-line>
                                            </amexio-body>
                                        </amexio-card>
                                    </amexio-column>
                                    <amexio-column [size]="4" [fit]="true" >
                                        <amexio-card header="true" >
                                            <amexio-header>
                                                Click On Legend/ Click on Chart
                                            </amexio-header>
                                            <amexio-body>
                                                <pre><code>{{sourceData |json }}</code></pre>

                                            </amexio-body>
                                        </amexio-card>

                                    </amexio-column>
                                </amexio-row>
                                <!-- -->
                                <amexio-row>
                                    <amexio-column [size]="8" [fit]="true">
                                        <amexio-card [header]="true" [show]="'true'">
                                            <amexio-header>
                                                D3-line with Yaxis interval
                                            </amexio-header>
                                            <amexio-body>
                                                <amexio-d3-chart-line (onChartClick)="onChartClick($event)" [label]="true" (onLegendClick)="onUserDefineLegendClick($event)"
                                                        (onLegendClick)="onLegendClick($event)"
                                                        [title]="'Company Performance'"
                                                        [data] = "lineData"
                                                        [label-color] = "'brown'"
                                                        [yaxis-interval] = "5"
                                                        >
                                                     </amexio-d3-chart-line>
                                            </amexio-body>
                                        </amexio-card>
                                    </amexio-column>
                                    <amexio-column [size]="4" [fit]="true" >
                                        <amexio-card header="true" >
                                            <amexio-header>
                                                Click On Legend/Click on Chart
                                            </amexio-header>
                                            <amexio-body>
                                                <pre><code>{{userDataSource3 |json }}</code></pre>
        
                                            </amexio-body>
                                        </amexio-card>
        
                                    </amexio-column>
        
                                </amexio-row>
                    </amexio-column>
                </amexio-row>
        </amexio-api-demo>
        </amexio-api-structure>