<amexio-carousel [header]="'Gallery'" [data]="[1,2,3,4,5,6,7,8,9,10,11,12]" mode="multiple">
  <ng-template let-car amexioTemplate="item">
    <div style="text-align: center">
      <img src="assets/images/carousel/set1/{{car}}.jpg"/>
    </div>
  </ng-template>
</amexio-carousel>

<amexio-carousel [header]="'Gallery With Auto Shuffle (2 seconds)'" [data]="[1,2,3,4,5,6,7,8,9,10,11]" mode="multiple" shuffleinterval="2000">
  <ng-template let-car amexioTemplate="item">
    <div style="text-align: center">
      <img src="assets/images/carousel/set2/{{car}}.jpg"/>
    </div>
  </ng-template>
</amexio-carousel>

