<amexio-card header="true">
    <amexio-header>
       Data Grid with global filter 
    </amexio-header>
    <amexio-body>
      <p>Data grid component to render large amount of data-set with various options like sorting in ascending or descending order, client-side pagination, column hide/unhide, single/multi selection,Common Filtering for all columns(enable only for string and number)(Filtering Criteria: starts with, ends with and contains) user define template for rendering for column header and column data, displaying summation of numeric column.</p>
      <amexio-tab-view>
        <amexio-tab title="Demo" active="true">
          <amexio-row>
            <amexio-column size="12">
              <amexio-card [header]="true">
                <amexio-header>
                   Data Grid with Global Filter 
                </amexio-header>
                <amexio-body>
                <amexio-datagrid
                [global-filter]="true" title="Country Grid"   [http-method]="'get'" [http-url]="'assets/data/componentdata/datagrid.json'" [data-reader]="'data'"  [page-size] = "10" (rowSelect)="getRowData($event)">
                <amexio-data-table-column [data-index]="'name_official'" [data-type]="'string'" [hidden]="false" [text]="'Name'">
                </amexio-data-table-column>
                <amexio-data-table-column [data-index]="'code3l'" [data-type]="'string'" [hidden]="false" [text]="'Country Code'">
                </amexio-data-table-column>
                <amexio-data-table-column [data-index]="'latitude'" [data-type]="'string'" [hidden]="false" [text]="'Latitude'">
                </amexio-data-table-column>
                <amexio-data-table-column [data-index]="'longitude'" [data-type]="'string'" [hidden]="false" [text]="'Longitude'"></amexio-data-table-column>
              </amexio-datagrid>
                  <p><b>Selected row data : </b>{{clickedRowData | json}}</p>
                </amexio-body>
              </amexio-card>
            </amexio-column>
          </amexio-row>
        </amexio-tab>
        <amexio-tab title="API Reference">
          <amexio-datagrid title="Properties<amexio-datagrid>" [enable-column-fiter]="false"
                           [http-method]="'get'"
                           [http-url]="'assets/apireference/data/grid.json'"
                           [data-reader]="'properties'"
                           [enable-data-filter]="false">
            <amexio-data-table-column [data-index]="'name'" [width]="20" [data-type]="'string'" [hidden]="false"
                                      [text]="'Name'">
              <ng-template #amexioBodyTmpl let-column let-row="row">
                <ng-container *ngIf="row.deprecated">
                  <div style="text-decoration: line-through red;">{{row.name}}</div>
                </ng-container>
                <ng-container *ngIf="!row.deprecated">
                  {{row.name}}
                </ng-container>
              </ng-template>
            </amexio-data-table-column>
            <amexio-data-table-column [data-index]="'type'" [width]="10" [data-type]="'string'" [hidden]="false"
                                      [text]="'Type'"></amexio-data-table-column>
            <amexio-data-table-column [data-index]="'default'" [width]="10" [data-type]="'string'" [hidden]="false"
                                      [text]="'Default'"></amexio-data-table-column>
            <amexio-data-table-column [data-index]="'description'" [width]="65" [data-type]="'string'" [hidden]="false"
                                      [text]="'Description'"></amexio-data-table-column>
          </amexio-datagrid><br>
          <amexio-datagrid title="Column Properties <amexio-data-table-colum>" [enable-column-fiter]="false"
                           [http-method]="'get'"
                           [http-url]="'assets/apireference/data/grid.json'"
                           [data-reader]="'columnProperties'"
                           [enable-data-filter]="false">
            <amexio-data-table-column [data-index]="'name'" [width]="15" [data-type]="'string'" [hidden]="false"
                                      [text]="'Name'"></amexio-data-table-column>
            <amexio-data-table-column [data-index]="'type'" [width]="10" [data-type]="'string'" [hidden]="false"
                                      [text]="'Type'"></amexio-data-table-column>
            <amexio-data-table-column [data-index]="'default'" [width]="10" [data-type]="'string'" [hidden]="false"
                                      [text]="'Default'"></amexio-data-table-column>
            <amexio-data-table-column [data-index]="'description'" [width]="65" [data-type]="'string'" [hidden]="false"
                                      [text]="'Description'"></amexio-data-table-column>
          </amexio-datagrid>
          <br>
          <amexio-datagrid title="Events" [http-method]="'get'"
                           [http-url]="'assets/apireference/data/grid.json'" [data-reader]="'events'"
                           [enable-data-filter]="false">
            <amexio-data-table-column [data-index]="'name'" [width]="20" [data-type]="'string'" [hidden]="false"
                                      [text]="'Name'"></amexio-data-table-column>
            <amexio-data-table-column [data-index]="'description'" [width]="65" [data-type]="'string'" [hidden]="false"
                                      [text]="'Description'"></amexio-data-table-column>
          </amexio-datagrid>

        </amexio-tab>
        <amexio-tab title="Source">
          <div style="overflow-y: scroll;">
            <amexio-vertical-tab-view>
              <amexio-tab title="HTML" [active]="true">
                <ng-container *ngIf="htmlCode">
                  <!--<clip-copy [htmlCode]="htmlCode" (onClick)="onCopyClick()"></clip-copy>-->
                  <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
                </ng-container>
              </amexio-tab>
              <amexio-tab title="Type Script">
                <ng-container *ngIf="typeScriptCode">
                  <prism-block [code]="typeScriptCode" [language]="'typescript'"></prism-block>
                </ng-container>
              </amexio-tab>
              <amexio-tab title="DataSource">
                <ng-container *ngIf="dataSource">
                  <prism-block [code]="dataSource" [language]="'json'"></prism-block>
                </ng-container>
              </amexio-tab>
            </amexio-vertical-tab-view>
          </div>
         
        </amexio-tab>
        <amexio-tab title="Live">
        <p align="center">Amexio Sandbox</p>
        <iframe style="width: 100%; height: 600px" src="https://stackblitz.com/edit/amexio-v4-global-filter-grid?embed=1&file=app/grid/filtergrid/filtergrid.demo.html" frameborder="0" allowfullscren="allowfullscren"></iframe>
        </amexio-tab>
      </amexio-tab-view>
    </amexio-body>
  </amexio-card>