<amexio-timeline>
    <amexio-timeline-event [label]="'10 June'" [icon]="'fa fa-map-signs'" [content-border]="true" >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus.
    </amexio-timeline-event>
    <amexio-timeline-event [label]="'12 June'" [icon]="'fa fa-star'" [content-border]="true">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus.
    </amexio-timeline-event>
    <amexio-timeline-event [label]="'13 June'" [icon]="'fa fa-comment'" [content-border]="true">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus.
    </amexio-timeline-event>
    <amexio-timeline-event [label]="'14 June'" [icon]="'fa fa-map'" [content-border]="true">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus.
    </amexio-timeline-event>
    <amexio-timeline-event [label]="'15 June'" [icon]="'fa fa-heart'" [content-border]="true">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus.
    </amexio-timeline-event>
</amexio-timeline>