
.topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #1565c0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.topnav-mobile{
    flex-direction: column;
    padding: 0px;
}

.topnav *{
    vertical-align: middle;
}

.top-nav-input-control {
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #ced4da;
    font-size: 1rem;
    line-height: 1.5;
    outline: none;
}
.top-nav-button{
    background-color: #fff;
    border-color: #ced4da;
    color: #000;
    cursor: pointer;
    //padding: .5rem 1rem;
    font-size: 1rem;
}
.topnav a{
    cursor: pointer;
}
.topnav a, label{
    color: white;
}
.topnavbarunit1{
    line-height: 50px;
}

.topnavbarunit1-mobile{
    width: 100%;
    padding: 5px;
}
.topnavbarunit2{
    //background-color: grey;
    width: 80%;
    line-height: 50px;
}
.topnavbarunit2-mobile{
    width: 100%;
    //padding: 5px;
    box-shadow: 0px 0px 2px 0px #ced4da;
    background-color: lighten(#1565c0,20);
}

.topnavmainbar{
    display: flex; justify-content: space-between;
}

.topnavmainbar-mobile{
    flex-direction: column;
}

.topnavmainbaritems{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.topnavmainbaritems-mobile{
    flex-direction: column;
}

.topnavmainbarinneritems{
    display: inline-block;
    padding: 0px 10px;
}

.topnavmainbarinneritems-mobile{
    width: 100%;
    border-bottom: 1px solid white;
}

.topnavmainbarinneritems .nav-dropdown {
    float: left;
    overflow: hidden;
}


.topnavmainbarinneritems-mobile .nav-dropdown {
    width: 100%;
}

.topnavmainbarinneritems-mobile .nav-dropdown .nav-dropbtn .dropdownicon{
    float: right;
    margin-right: 20px;
    line-height: 50px;
}


.nav-dropdown .nav-dropbtn {
    margin: 0;
}
 
.topnavmainbarinneritems .nav-dropdown-content { 
    display: none;
    position: fixed;
    background-color: lighten(#1565c0,20);
    min-width: 160px;
    z-index: 3; 
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.topnavmainbarinneritems-mobile .nav-dropdown-content{
    margin: 0px 5px;
    padding: 0px 5px;
    position: relative;
    background-color: lighten(#1565c0,20);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
}

.topnavmainbarinneritems .nav-dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
    color: white!important;
}

.nav-dropdown:hover .nav-dropbtn .dropdownicon{
    transform: rotate(180deg);

}
.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.topnavmainbarinneritems-mobile .top-nav-input-control{
    width: 100%;
}

.mobilebar{
    display:inline-block;
    float :right;
    color: white;
    padding-right : 10px;
    cursor: pointer;
}


.topnavmainbaritems amexio-test-nav-item1:last-child {
    .topnavmainbarinneritems .nav-dropdown-content { 
       right: 10px;
    }
}

.nav-dropdown-content-right .nav-dropdown-content {
    right: 10px;
    
}
