/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

//@import "nav.scss";



.floatingpanel{
  position : fixed;
  z-index: 100;

}

.floatingpanelbutton{
  position: fixed;
  bottom: 5%;
  right: 10px;
}

.floatingcontent{
  background-color: inherit;
  position: fixed;
  transition: all 0.2s linear;
  transform: scale(0);
  z-index: 100;
  bottom: 12.5%;
  right: 20px;
  max-width: 300px;
}

.floatingpanelbutton:hover .floatingcontent {
  box-shadow:   0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
      transform: scale(1);
}


amexio-theme-switcher  .card-container{
  margin: 5px 5px !important;
}




.button-dropdown{
  color:black;
}


.route-container{
  padding: 88px 10px 20px 0px;
}

.navbardemo{
  .topnav{
    position: unset;
    //position: static !important;
  }
}

@media only screen and (max-width: 1024px) {
  .route-container{
    padding: 15px;
  }
}

.flex-col-25 {
  max-width: 20.8333325%;
}

.flex-col-75 {
  max-width: 79.1666635%;
  margin-right: 10px;
}

@media only screen and (max-width: 500px) {

  .flex-col-2pt5, .flex-col-9pt5 {
    max-width: 100%;
  }

  .datagrid-template span{
    display: block;
  }

  .api-header-style .box-content{
    margin: unset;
    padding: unset;
  }

}


//data point style

/*.datapoints-north{
  font-size: 30px;
}*/
.navbardemo .navbar-container {
  position: relative !important;
  width: 90%;
}

.navbar-item-color{
  color: white;
}

.around-image {
  border-radius: 50%;
  vertical-align: middle;
}
.panel{
  //border: 1px solid #2196F3;
}


.datagrid-template{
  display: inline;
  span{
    padding-left: 3px;
  }
}

/*

@media (min-width: 1280px)
{
  .sidenav {
    height: 750px!important;
  }
}


@media (min-width: 950px)
{
  .sidenav {
    height: 875px!important;
  }
}
*/


/** Page navigation **/
/* Absolute Center Spinner */
.loadingnav {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loadingnav:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loadingnav:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loadingnav:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


// D3 chart css

/* You can add global styles to this file, and also import other style files */
.bar:hover
{
fill: #17bf3c;
}

.label-block{
  font-size: 4vw;
}

@media only screen and (max-width: 1024px) {
  .label-block{
    font-size: 9.5vw;
    margin: 0;
    line-height: 1;
    text-align: center;
  }


}

 .card-img-center {     position: absolute;
    right: 35%;
  }

  // .side-nav-with-tab{
  //   display: block;
  // }

  // .side-nav-with-tab > li{
  //   padding-left: 0px !important;
  // }

  // .side-nav-with-tab > li > div{
  //   padding-right: 0px !important;
  // }

  .side-nav-with-tab{
    display: block;
  }

  .side-nav-with-tab .panel {
    padding: 10px 0px !important;
    overflow-y: hidden!important;
  }

  .side-nav-with-tab > li{
    padding-left: 0px !important;
  }

  .side-nav-with-tab > li > div{
    padding-right: 0px !important;
  }

  .api-header-style .box-content{
    margin: -20px -100%;
    padding: 20px 100%;
  }


@media only screen and (max-width: 500px){
  .api-header-style .box-content{
    margin: unset!important;
    padding: unset !important;
  }
}
