/* You can add global styles to this file, and also import other style files */

@import "../node_modules/amexio-ng-extensions/styles/mda/at-md-blue.scss";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

.route-container{
  padding: 88px 10px 20px 0px;
}


@media only screen and (max-width: 1024px) {
  .route-container{
    padding: 15px;
  }
}

.flex-col-25 {
  max-width: 20.8333325%;
}

.flex-col-75 {
  max-width: 79.1666635%;
  margin-right: 10px;
}

@media only screen and (max-width: 500px) {

  .flex-col-2pt5, .flex-col-9pt5 {
    max-width: 100%;
  }
}

//toggle width
.toggle{
  width: 60px;
}

//data point style

.datapoints-north{
  font-size: 30px;
}
.navbardemo .navbar-container {
  position: relative !important;
  width: 90%;
}

.navbar-item-color{
  color: white;
}

.around-image {
  border-radius: 50%;
  vertical-align: middle;
}
