<!-- Reactive Forms with Amexio Form With <amexio-form> -->
<amexio-form [formGroup]="employeeForm">
    <amexio-form-body>
        <amexio-row>
            <amexio-column size="6">
                <amexio-text-input formControlName="FirstName" [field-label]="'First Name'" [allow-blank]="true" [error-msg]="'Please enter valid First Name'" [enable-popover]="true" [place-holder]="'Please enter first name'" [min-length]="2"  [icon-feedback]="false"
                    [min-error-msg]="'Minimum 2 char allowed'" [max-error-msg]="'Maximum 20 char allowed'" [max-length]="20">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-text-input formControlName="LastName" [field-label]="'Last Name'" [place-holder]="'Please enter last name'" [allow-blank]="true" [error-msg]="'errorMsg'" [enable-popover]="true" [min-length]="2" [min-error-msg]="'Minimum 2 char allowed'" [max-error-msg]="'Maximum 20 char allowed'"
                    [max-length]="20">
                    [icon-feedback]="true" >
                </amexio-text-input>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="6">
                <amexio-email-input formControlName="Email" [field-label]="'Email Id'" [place-holder]="'Please enter Email Id'" [allow-blank]="false" [error-msg]="'Please Enter Email Id'" [enable-popover]="true" [icon-feedback]="true">
                </amexio-email-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-number-input formControlName="Age" [enable-popover]="true" [field-label]="'Age'" [place-holder]="'Enter age'" [error-msg]="'Please enter age'" [min-value]="18" [min-error-msg]="'age can not be less than 18'" [max-value]="100" [max-error-msg]="'age can not be greater than 100'"
                    [icon-feedback]="true">
                </amexio-number-input>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="6">
                <amexio-radio-group formControlName="Gender" [field-label]="'Gender'" [horizontal]="true" [display-field]="'genderName'" [value-field]="'genderId'" [data]="radioGroupData">
                </amexio-radio-group>
            </amexio-column>
            <amexio-column size="6">
                <amexio-checkbox formControlName="Agree" [field-label]="'Agree'">
                </amexio-checkbox>
            </amexio-column>
        </amexio-row>
    </amexio-form-body>
</amexio-form>

<!-- VALIDATION FLAG ADD TO BUTTON -->
<amexio-button [label]="'Save'" [disabled]="!employeeForm.valid" [type]="'green'" [tooltip]="'Save Form'">
</amexio-button>

<!-- Reactive Forms Within Form Amexio Form With <amexio-form> -->
<amexio-form [formGroup]="employeeFormInsideForm">
    <amexio-form-body>
        <amexio-row>
            <amexio-column size="6">
                <amexio-text-input formControlName="FirstName" [(ngModel)]="registration.firstName" [field-label]="'First Name'" [allow-blank]="true" [error-msg]="'Please enter valid First Name'" [enable-popover]="true" [place-holder]="'Please enter first name'" [min-length]="2"
                    [icon-feedback]="false" [min-error-msg]="'Minimum 2 char allowed'" [max-error-msg]="'Maximum 20 char allowed'" [max-length]="20">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-text-input formControlName="LastName" [(ngModel)]="registration.lastName" [field-label]="'Last Name'" [place-holder]="'Please enter last name'" [allow-blank]="true" [error-msg]="'errorMsg'" [enable-popover]="true" [min-length]="2" [min-error-msg]="'Minimum 2 char allowed'"
                    [max-error-msg]="'Maximum 20 char allowed'" [max-length]="20">
                    [icon-feedback]="true" >
                </amexio-text-input>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="6">
                <amexio-email-input formControlName="Email" [(ngModel)]="registration.email" [field-label]="'Email Id'" [place-holder]="'Please enter Email Id'" [allow-blank]="false" [error-msg]="'Please Enter Email Id'" [enable-popover]="true" [icon-feedback]="true">
                </amexio-email-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-number-input formControlName="Age" [(ngModel)]="registration.age" [enable-popover]="true" [field-label]="'Age'" [place-holder]="'Enter age'" [error-msg]="'Please enter age'" [min-value]="18" [min-error-msg]="'age can not be less than 18'" [max-value]="100"
                    [max-error-msg]="'age can not be greater than 100'" [icon-feedback]="true">
                </amexio-number-input>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="12">
                <amexio-fieldset [formGroup]="addressForm" [collapsible]="true" title="Address">
                    <amexio-row>
                        <amexio-column size="5">
                            <amexio-textarea-input formControlName="TemporaryAddress" [enable-popover]="true" [(ngModel)]="registration.address.tempAddress" [field-label]="'Temporary Address'" [place-holder]="'Temporary address'" [allow-blank]="false" [error-msg]="'Please enter temporary address'"
                                [icon-feedback]="true" [rows]="'2'" [columns]="'1'">
                            </amexio-textarea-input>
                        </amexio-column>
                        <amexio-column size="2">
                            <amexio-checkbox [field-label]="'Permanent address same as temporary address'" (onSelection)="onCheckClick1($event)">
                            </amexio-checkbox>
                        </amexio-column>
                        <amexio-column size="5">
                            <amexio-textarea-input formControlName="PermanentAddress" [(ngModel)]="registration.address.perAddress" [enable-popover]="true" [field-label]="'Permanent Address'" [place-holder]="'Permanent address'" [allow-blank]="false" [error-msg]="'Please enter permanent address'"
                                [icon-feedback]="true" [rows]="'2'" [columns]="'1'">
                            </amexio-textarea-input>
                        </amexio-column>
                    </amexio-row>
                    <amexio-row>
                        <amexio-column size="12">
                            <amexio-button [label]="'Add Address'" [disabled]="!addressForm.valid" [type]="'green'" [tooltip]="'Save Form'">
                            </amexio-button>
                        </amexio-column>
                    </amexio-row>
                </amexio-fieldset>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="6">
                <amexio-radio-group formControlName="Gender" [(ngModel)]="registration.gender" [field-label]="'Gender'" [horizontal]="true" [display-field]="'genderName'" [value-field]="'genderId'" [data]="radioGroupData">
                </amexio-radio-group>
            </amexio-column>
            <amexio-column size="6">
                <amexio-checkbox formControlName="Agree" [(ngModel)]="registration.agree" [field-label]="'Agree'">
                </amexio-checkbox>
            </amexio-column>
        </amexio-row>
    </amexio-form-body>
</amexio-form>

<!-- VALIDATION FLAG ADD TO BUTTON -->
<amexio-button [label]="'Save'" [disabled]="!employeeFormInsideForm.valid" [type]="'green'" [tooltip]="'Save Form'">
</amexio-button>

<!-- Reactive forms group inside forms With <amexio-form>-->

<amexio-form [formGroup]="employeeFormGroup">
    <amexio-form-body>
        <amexio-row>
            <amexio-column size="6">
                <amexio-text-input formControlName="FirstName" [(ngModel)]="registration1.firstName" [field-label]="'First Name'" [allow-blank]="true" [error-msg]="'Please enter valid First Name'" [enable-popover]="true" [place-holder]="'Please enter first name'" [min-length]="2"
                     [icon-feedback]="false" [min-error-msg]="'Minimum 2 char allowed'" [max-error-msg]="'Maximum 20 char allowed'" [max-length]="20">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-text-input formControlName="LastName" [(ngModel)]="registration1.lastName" [field-label]="'Last Name'" [place-holder]="'Please enter last name'" [allow-blank]="true" [error-msg]="'errorMsg'" [enable-popover]="true" [min-length]="2" [min-error-msg]="'Minimum 2 char allowed'"
                    [max-error-msg]="'Maximum 20 char allowed'" [max-length]="20">
                    [icon-feedback]="true" >
                </amexio-text-input>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="6">
                <amexio-email-input formControlName="Email" [(ngModel)]="registration1.email" [field-label]="'Email Id'" [place-holder]="'Please enter Email Id'" [allow-blank]="false" [error-msg]="'Please Enter Email Id'" [enable-popover]="true" [icon-feedback]="true">
                </amexio-email-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-number-input formControlName="Age" [(ngModel)]="registration1.age" [enable-popover]="true" [field-label]="'Age'" [place-holder]="'Enter age'" [error-msg]="'Please enter age'" [min-value]="18" [min-error-msg]="'age can not be less than 18'" [max-value]="100"
                    [max-error-msg]="'age can not be greater than 100'" [icon-feedback]="true">
                </amexio-number-input>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="12">
                <amexio-fieldset formGroupName="AddressFormGroup" [collapsible]="true" title="Address">
                    <amexio-row>
                        <amexio-column size="5">
                            <amexio-textarea-input formControlName="temporaryAddress" [(ngModel)]="registration1.address.tempAddress" [enable-popover]="true" [field-label]="'Temporary Address'" [place-holder]="'Temporary Address'" [allow-blank]="false" [error-msg]="'Please enter temporary address'"
                                [icon-feedback]="true" [rows]="'2'" [columns]="'1'">
                            </amexio-textarea-input>
                        </amexio-column>
                        <amexio-column size="2">
                            <amexio-checkbox [field-label]="'Permanent address same as temporary address'" (onSelection)="onCheckClick2($event)">
                            </amexio-checkbox>
                        </amexio-column>
                        <amexio-column size="5">
                            <amexio-textarea-input formControlName="permanentAddress" [(ngModel)]="registration1.address.perAddress" [enable-popover]="true" [field-label]="'Permanent Address'" [place-holder]="'Permanent Address'" [allow-blank]="false" [error-msg]="'Please enter permanent address'"
                                [icon-feedback]="true" [rows]="'2'" [columns]="'1'">
                            </amexio-textarea-input>
                        </amexio-column>
                    </amexio-row>
                </amexio-fieldset>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="6">
                <amexio-radio-group formControlName="Gender" [(ngModel)]="registration1.gender" [field-label]="'Gender'" [horizontal]="true" [display-field]="'genderName'" [value-field]="'genderId'" [data]="radioGroupData">
                </amexio-radio-group>
            </amexio-column>
            <amexio-column size="6">
                <amexio-checkbox formControlName="Agree" [(ngModel)]="registration1.agree" [field-label]="'Agree'">
                </amexio-checkbox>
            </amexio-column>
        </amexio-row>
    </amexio-form-body>
</amexio-form>

<!-- VALIDATION FLAG ADD TO BUTTON -->
<amexio-button [label]="'Save'" [disabled]="!employeeFormGroup.valid" [type]="'green'" [tooltip]="'Save Form'">
</amexio-button>


<!--  Reactive Form with Dynamic Forms -->
<amexio-form [formGroup]="dynamicEmployeeForm" header="true" footer="false">
    <amexio-form-body>
        <amexio-row>
            <amexio-column size="6">
                <amexio-text-input formControlName="FirstName" [(ngModel)]="dynamicFormsReg.firstName" [field-label]="'First Name'" [allow-blank]="true" [error-msg]="'Please enter valid First Name'" [enable-popover]="true" [place-holder]="'Please enter first name'" [min-length]="2"
                     [icon-feedback]="false" [min-error-msg]="'Minimum 2 char allowed'" [max-error-msg]="'Maximum 20 char allowed'" [max-length]="20">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-text-input formControlName="LastName" [(ngModel)]="dynamicFormsReg.lastName" [field-label]="'Last Name'" [place-holder]="'Please enter last name'" [allow-blank]="true" [error-msg]="'errorMsg'" [enable-popover]="true" [min-length]="2" [min-error-msg]="'Minimum 2 char allowed'"
                    [max-error-msg]="'Maximum 20 char allowed'" [max-length]="20">
                    [icon-feedback]="true" >
                </amexio-text-input>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="6">
                <amexio-email-input formControlName="Email" [(ngModel)]="dynamicFormsReg.email" [field-label]="'Email Id'" [place-holder]="'Please enter Email Id'" [allow-blank]="false" [error-msg]="'Please Enter Email Id'" [enable-popover]="true" [icon-feedback]="true">
                </amexio-email-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-number-input formControlName="Age" [(ngModel)]="dynamicFormsReg.age" [enable-popover]="true" [field-label]="'Age'" [place-holder]="'Enter age'" [error-msg]="'Please enter age'" [min-value]="18" [min-error-msg]="'age can not be less than 18'" [max-value]="100"
                    [max-error-msg]="'age can not be greater than 100'" [icon-feedback]="true">
                </amexio-number-input>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="6">
                <amexio-button [label]="'Add Phone'" [type]="'green'" [tooltip]="'Add Phone'" (onClick)="addPhoneClick()">
                </amexio-button>
            </amexio-column>
        </amexio-row>
        <amexio-fieldset *ngIf="enableFieldSet" formArrayName="phones" [collapsible]="false" [title]="'Add Phone Numbers'">
            <amexio-row *ngFor="let phone of phoneForms.controls;let i=index" [formGroupName]="i">
                <amexio-column size="3">
                    <amexio-text-input formControlName="phoneLabel" [(ngModel)]="phone.phoneLabel" enable-popover="true" field-label="Phone Label" name="phoneLabel" error-msg="Please add phone label" place-holder="Enter phone label" allow-blank="false" min-length="3" min-error-msg="Minimum 3 char required"
                        max-length="10" max-error-msg="Maximum 10 char allowed" icon-feedback="true">
                    </amexio-text-input>
                </amexio-column>
                <amexio-column size="3">
                    <amexio-text-input formControlName="countryCode" [(ngModel)]="phone.countryCode" enable-popover="true" field-label="Country Code" name="countryCode" error-msg="Please add country code" place-holder="Enter country code" allow-blank="false" min-length="1"
                        min-error-msg="Minimum 1 char required" max-length="10" max-error-msg="Maximum 10 char allowed" icon-feedback="true">
                    </amexio-text-input>
                </amexio-column>
                <amexio-column size="3">
                    <amexio-text-input formControlName="phoneNumber" [(ngModel)]="phone.phoneNumber" enable-popover="true" field-label="Phone Number" name="phoneNumber" error-msg="Please add phone number" place-holder="Enter phone number" allow-blank="false" min-length="8"
                        min-error-msg="Minimum 8 char required" max-length="10" max-error-msg="Maximum 10 char allowed" icon-feedback="true">
                    </amexio-text-input>
                </amexio-column>
                <amexio-column size="3">
                    <amexio-button [label]="'Delete'" [type]="'red'" [tooltip]="'delete'" [icon]="'fa fa-trash'" (onClick)="onDeleteClick(i)">
                    </amexio-button>
                </amexio-column>
            </amexio-row>
        </amexio-fieldset>
        <amexio-row>
            <amexio-column size="6">
                <amexio-radio-group formControlName="Gender" [(ngModel)]="dynamicFormsReg.gender" [field-label]="'Gender'" [horizontal]="true" [display-field]="'genderName'" [value-field]="'genderId'" [data]="radioGroupData">
                </amexio-radio-group>
            </amexio-column>
            <amexio-column size="6">
                <amexio-checkbox formControlName="Agree" [(ngModel)]="dynamicFormsReg.agree" [field-label]="'Agree'">
                </amexio-checkbox>
            </amexio-column>
        </amexio-row>
    </amexio-form-body>
</amexio-form>
<!-- VALIDATION FLAG ADD TO DYNAMIC FORMS -->
<amexio-button [label]="'Save'" [disabled]="!dynamicEmployeeForm.valid" [type]="'green'" [tooltip]="'Save Form'">
</amexio-button>