 
 
 <amexio-api-structure  [url]="'assets/componentjson/panels/window.json'">
  <amexio-api-accessible>
      <amexio-box border-color="blue" border="left" [padding]="true" align="left">
          <p>The Window is WAI ARIA-accessible through the Tab key.</p>
       </amexio-box>
  </amexio-api-accessible>
  <amexio-api-demo>  
 <amexio-card [header]="true">
      <amexio-header> Material Pattern</amexio-header>
      <amexio-body>
    <amexio-row>
      <amexio-column [size]="4">
        <amexio-button type="success"
                       (onClick)="toggleBasicWindow('material')"
                       label="Basic Window"></amexio-button>
        <amexio-window
          [body-height]="40"
          [(show)]="showBasicWindowMaterial"
          [close-on-escape]="true"
          [material-design]="true"
          [width]="'auto'"
          [footer]="true">
          <amexio-header>
            Employee Form
          </amexio-header>
          <amexio-body>
            <amexio-row>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Name'" name="country"
                                   [place-holder]="'Enter name'"
                                   [enable-popover]="true"

                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter name'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                   [max-error-msg]="'Name should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Surname'" name="name"
                                   [place-holder]="'Enter surname'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                   [max-error-msg]="'Surname should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
            </amexio-row>

            <amexio-row>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Description'" name="country"
                                   [place-holder]="'Description'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter name'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                   [max-error-msg]="'Name should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Hobbies'" name="name"
                                   [place-holder]="'Hobbies'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                   [max-error-msg]="'Surname should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
            </amexio-row>

            <amexio-row>
              <amexio-column [size]="6">

                <amexio-textarea-input [field-label]="'Address'" name="Address"
                                       [place-holder]="'Enter address'"
                                       [error-msg]="'Please enter address'"
                                       [icon-feedback]="true"
                                       [rows]="'1'" [columns]="'2'"
                                       [allow-blank]="false" [enable-popover]="true"

                >
                </amexio-textarea-input>


              </amexio-column>

            </amexio-row>


            <amexio-row>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Phone'" name="country"
                                   [place-holder]="'Phone'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter name'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                   [max-error-msg]="'Name should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Email'" name="name"
                                   [place-holder]="'Email'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                   [max-error-msg]="'Surname should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
            </amexio-row>

          </amexio-body>
          <amexio-action>
            <amexio-button [type]= "'default'"(onClick)="showBasicWindowMaterial = false" label="Cancel"></amexio-button>
              <amexio-button [type]="'theme-color'" (onClick)="showBasicWindowMaterial = false" label="Save"></amexio-button>
          </amexio-action>

        </amexio-window>
        <amexio-row>
          <amexio-column [size]="'12'">
            <amexio-label>
              (Horizontal and Vertical positioning enabled)
            </amexio-label>
          </amexio-column>
        </amexio-row>
      </amexio-column>
      <amexio-column [size]="4">
        <amexio-button type="warning" (onClick)="toggleMaxWindow('material')" label="Maximizable Window"></amexio-button>
        <amexio-window  [(show)]="showMaxWindowMaterial"
                        [footer]="true"
                        [material-design]="true"
                        [maximize]="true">
          <amexio-header>
            Employee Form
          </amexio-header>
          <amexio-body>
            <amexio-row>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Name'" name="country"
                                   [place-holder]="'Enter name'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter name'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                   [max-error-msg]="'Name should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Surname'" name="name"
                                   [place-holder]="'Enter surname'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                   [max-error-msg]="'Surname should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
            </amexio-row>
            <amexio-row>
              <amexio-column [size]="6">

                <amexio-textarea-input [field-label]="'Address'" name="Address"
                                       [place-holder]="'Enter address'"
                                       [error-msg]="'Please enter address'"
                                       [icon-feedback]="true"
                                       [rows]="'1'" [columns]="'2'"
                                       [allow-blank]="false" [enable-popover]="true"

                >
                </amexio-textarea-input>


              </amexio-column>

            </amexio-row>
          </amexio-body>
          <amexio-action>
            <amexio-button (onClick)="showMaxWindowMaterial = false" label="Close"></amexio-button>
          </amexio-action>

        </amexio-window>
      </amexio-column>
      <amexio-column [size]="4">
        <amexio-button type="red" (onClick)="toggleClosable('material')" label="Closable Window"></amexio-button>
        <amexio-window   [(show)]="showClosableMaterial"
                         [close-on-escape]="false"
                         [material-design]="true"
                         [closable]="true"  >
          <amexio-header>
            Employee Form
          </amexio-header>
          <amexio-body>
            <amexio-row>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Name'" name="country"
                                   [place-holder]="'Enter name'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter name'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                   [max-error-msg]="'Name should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Surname'" name="name"
                                   [place-holder]="'Enter surname'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                   [max-error-msg]="'Surname should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
            </amexio-row>
            <amexio-row>
              <amexio-column [size]="6">
                <amexio-textarea-input [field-label]="'Address'" name="Address"
                                       [place-holder]="'Enter address'"
                                       [error-msg]="'Please enter address'"
                                       [icon-feedback]="true"
                                       [rows]="'1'" [columns]="'2'"
                                       [allow-blank]="false" [enable-popover]="true"
                >
                </amexio-textarea-input>
              </amexio-column>
            </amexio-row>
          </amexio-body>
        </amexio-window>
        <amexio-row>
          <amexio-column [size]="'12'">
            <amexio-label size="small">
              (Escape functionality disabled)
            </amexio-label>
          </amexio-column>
        </amexio-row>
      </amexio-column>

    </amexio-row>
      </amexio-body>
    </amexio-card>

    <amexio-card [header]="true">
      <amexio-header>Non Material Pattern </amexio-header>
      <amexio-body>
      <amexio-row>

        <amexio-column [size]="4">
          <amexio-button type="success"
                         (onClick)="toggleBasicWindow('nonmaterial')"
                         label="Basic Window"></amexio-button>
          <amexio-window
            [body-height]="40"
            [(show)]="showBasicWindowNonMaterial"
            [close-on-escape]="true"
            [material-design]="false"
            [footer]="true"
            [width]="'auto'">
            <amexio-header>
               Employee Form
            </amexio-header>
            <amexio-body>
              <amexio-row>
                <amexio-column [size]="6">
                  <amexio-text-input [field-label]="'Name'" name="country"
                                     [place-holder]="'Enter name'"
                                     [enable-popover]="true"

                                     [icon-feedback]="true"
                                     [allow-blank]="false" [error-msg]="'Please enter name'"
                                     [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                     [max-error-msg]="'Name should be less than 15 characters'"
                  >
                  </amexio-text-input>
                </amexio-column>
                <amexio-column [size]="6">
                  <amexio-text-input [field-label]="'Surname'" name="name"
                                     [place-holder]="'Enter surname'"
                                     [enable-popover]="true"
                                     [icon-feedback]="true"
                                     [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                     [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                     [max-error-msg]="'Surname should be less than 15 characters'"
                  >
                  </amexio-text-input>
                </amexio-column>
              </amexio-row>

              <amexio-row>
                <amexio-column [size]="6">
                  <amexio-text-input [field-label]="'Description'" name="country"
                                     [place-holder]="'Description'"
                                     [enable-popover]="true"
                                     [icon-feedback]="true"
                                     [allow-blank]="false" [error-msg]="'Please enter name'"
                                     [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                     [max-error-msg]="'Name should be less than 15 characters'"
                  >
                  </amexio-text-input>
                </amexio-column>
                <amexio-column [size]="6">
                  <amexio-text-input [field-label]="'Hobbies'" name="name"
                                     [place-holder]="'Hobbies'"
                                     [enable-popover]="true"
                                     [icon-feedback]="true"
                                     [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                     [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                     [max-error-msg]="'Surname should be less than 15 characters'"
                  >
                  </amexio-text-input>
                </amexio-column>
              </amexio-row>

              <amexio-row>
                <amexio-column [size]="6">

                  <amexio-textarea-input [field-label]="'Address'" name="Address"
                                         [place-holder]="'Enter address'"
                                         [error-msg]="'Please enter address'"
                                         [icon-feedback]="true"
                                         [rows]="'1'" [columns]="'2'"
                                         [allow-blank]="false" [enable-popover]="true"

                  >
                  </amexio-textarea-input>


                </amexio-column>

              </amexio-row>


              <amexio-row>
                <amexio-column [size]="6">
                  <amexio-text-input [field-label]="'Phone'" name="country"
                                     [place-holder]="'Phone'"
                                     [enable-popover]="true"
                                     [icon-feedback]="true"
                                     [allow-blank]="false" [error-msg]="'Please enter name'"
                                     [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                     [max-error-msg]="'Name should be less than 15 characters'"
                  >
                  </amexio-text-input>
                </amexio-column>
                <amexio-column [size]="6">
                  <amexio-text-input [field-label]="'Email'" name="name"
                                     [place-holder]="'Email'"
                                     [enable-popover]="true"
                                     [icon-feedback]="true"
                                     [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                     [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                     [max-error-msg]="'Surname should be less than 15 characters'"
                  >
                  </amexio-text-input>
                </amexio-column>
              </amexio-row>

            </amexio-body>
            <amexio-action>
              <amexio-button [type]= "'default'"(onClick)="showBasicWindowNonMaterial = false" label="Cancel"></amexio-button>
              <amexio-button [type]="'theme-color'" (onClick)="showBasicWindowNonMaterial = false" label="Save"></amexio-button>
            </amexio-action>

          </amexio-window>
          <amexio-row>
            <amexio-column [size]="'12'">
              <amexio-label>
                (Horizontal and Vertical positioning enabled)
              </amexio-label>
            </amexio-column>
          </amexio-row>
        </amexio-column>
        <amexio-column [size]="4">
          <amexio-button type="warning" (onClick)="toggleMaxWindow('nonmaterial')" label="Maximizable Window"></amexio-button>
          <amexio-window  [(show)]="showMaxWindowNonMaterial"
                          [footer]="true"
                          [material-design]="false"

                          [maximize]="true">
            <amexio-header>
              Employee Form
            </amexio-header>
            <amexio-body>
              <amexio-row>
                <amexio-column [size]="6">
                  <amexio-text-input [field-label]="'Name'" name="country"
                                     [place-holder]="'Enter name'"
                                     [enable-popover]="true"
                                     [icon-feedback]="true"
                                     [allow-blank]="false" [error-msg]="'Please enter name'"
                                     [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                     [max-error-msg]="'Name should be less than 15 characters'"
                  >
                  </amexio-text-input>
                </amexio-column>
                <amexio-column [size]="6">
                  <amexio-text-input [field-label]="'Surname'" name="name"
                                     [place-holder]="'Enter surname'"
                                     [enable-popover]="true"
                                     [icon-feedback]="true"
                                     [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                     [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                     [max-error-msg]="'Surname should be less than 15 characters'"
                  >
                  </amexio-text-input>
                </amexio-column>
              </amexio-row>
              <amexio-row>
                <amexio-column [size]="6">

                  <amexio-textarea-input [field-label]="'Address'" name="Address"
                                         [place-holder]="'Enter address'"
                                         [error-msg]="'Please enter address'"
                                         [icon-feedback]="true"
                                         [rows]="'1'" [columns]="'2'"
                                         [allow-blank]="false" [enable-popover]="true"

                  >
                  </amexio-textarea-input>


                </amexio-column>

              </amexio-row>
            </amexio-body>
            <amexio-action>
              <amexio-button (onClick)="showMaxWindowNonMaterial = false" label="Close"></amexio-button>
            </amexio-action>

          </amexio-window>
        </amexio-column>
        <amexio-column [size]="4">
          <amexio-button type="red" (onClick)="toggleClosable('nonmaterial')" label="Closable Window"></amexio-button>
          <amexio-window   [(show)]="showClosableNonMaterial"
                           [close-on-escape]="false"
                           [material-design]="false"
                           [closable]="true">
            <amexio-header>
              Employee Form
            </amexio-header>
            <amexio-body>
              <amexio-row>
                <amexio-column [size]="6">
                  <amexio-text-input [field-label]="'Name'" name="country"
                                     [place-holder]="'Enter name'"
                                     [enable-popover]="true"
                                     [icon-feedback]="true"
                                     [allow-blank]="false" [error-msg]="'Please enter name'"
                                     [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                     [max-error-msg]="'Name should be less than 15 characters'"
                  >
                  </amexio-text-input>
                </amexio-column>
                <amexio-column [size]="6">
                  <amexio-text-input [field-label]="'Surname'" name="name"
                                     [place-holder]="'Enter surname'"
                                     [enable-popover]="true"
                                     [icon-feedback]="true"
                                     [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                     [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                     [max-error-msg]="'Surname should be less than 15 characters'"
                  >
                  </amexio-text-input>
                </amexio-column>
              </amexio-row>
              <amexio-row>
                <amexio-column [size]="6">
                  <amexio-textarea-input [field-label]="'Address'" name="Address"
                                         [place-holder]="'Enter address'"
                                         [error-msg]="'Please enter address'"
                                         [icon-feedback]="true"
                                         [rows]="'1'" [columns]="'2'"
                                         [allow-blank]="false" [enable-popover]="true"
                  >
                  </amexio-textarea-input>
                </amexio-column>
              </amexio-row>
            </amexio-body>
          </amexio-window>
          <amexio-row>
            <amexio-column [size]="'12'">
              <amexio-label size="small">
                (Escape functionality disabled)
              </amexio-label>
            </amexio-column>
          </amexio-row>
        </amexio-column>

      </amexio-row>
      </amexio-body>
    </amexio-card>
    <amexio-card [header]="true">
    <amexio-header>Non Material Pattern with Toolbar </amexio-header>
    <amexio-body>
    <amexio-row>

      <amexio-column [size]="4">
        <amexio-button type="success"
                       (onClick)="toggleBasicWindow('nonmaterialtoolbar')"
                       label="Basic Window"></amexio-button>
        <amexio-window
          [body-height]="40"
          [(show)]="showBasicWindowNonMateialToolbar"
          [close-on-escape]="true"
          [material-design]="false"
          [footer]="true"
          [width]="'auto'">
          <amexio-header>
         <amexio-window-header>
         <amexio-toolbar >
         <amexio-toolbar-item position-left>
         <amexio-label size="small" >
          Registration
         </amexio-label>
       </amexio-toolbar-item>

       <amexio-toolbar-item position-right [seperator-position]="'left'">
       <amexio-image aria-hidden="true" [icon-class]="'fa fa-th'"> </amexio-image>
     </amexio-toolbar-item>
     <amexio-toolbar-item position-right [seperator-position]="'left'">
       <amexio-image aria-hidden="true" [icon-class]="'fa fa-info-circle'"> </amexio-image>
     </amexio-toolbar-item>
     <amexio-toolbar-item position-right [seperator-position]="'left'">
       <amexio-image aria-hidden="true" [icon-class]="'fa fa-question-circle'"> </amexio-image>
     </amexio-toolbar-item>
     <amexio-toolbar-item position-right [seperator-position]="'left'">
       <amexio-image aria-hidden="true" [icon-class]="'fa fa-cog'"> </amexio-image>
     </amexio-toolbar-item>
      </amexio-toolbar>
         </amexio-window-header>
          </amexio-header>
          <amexio-body>
            <amexio-row>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Name'" name="country"
                                   [place-holder]="'Enter name'"
                                   [enable-popover]="true"

                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter name'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                   [max-error-msg]="'Name should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Surname'" name="name"
                                   [place-holder]="'Enter surname'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                   [max-error-msg]="'Surname should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
            </amexio-row>

            <amexio-row>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Description'" name="country"
                                   [place-holder]="'Description'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter name'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                   [max-error-msg]="'Name should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Hobbies'" name="name"
                                   [place-holder]="'Hobbies'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                   [max-error-msg]="'Surname should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
            </amexio-row>

            <amexio-row>
              <amexio-column [size]="6">

                <amexio-textarea-input [field-label]="'Address'" name="Address"
                                       [place-holder]="'Enter address'"
                                       [error-msg]="'Please enter address'"
                                       [icon-feedback]="true"
                                       [rows]="'1'" [columns]="'2'"
                                       [allow-blank]="false" [enable-popover]="true"

                >
                </amexio-textarea-input>


              </amexio-column>

            </amexio-row>


            <amexio-row>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Phone'" name="country"
                                   [place-holder]="'Phone'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter name'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                                   [max-error-msg]="'Name should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
              <amexio-column [size]="6">
                <amexio-text-input [field-label]="'Email'" name="name"
                                   [place-holder]="'Email'"
                                   [enable-popover]="true"
                                   [icon-feedback]="true"
                                   [allow-blank]="false" [error-msg]="'Please enter Surname'"
                                   [min-length]="3" [max-length]="15" [min-error-msg]="'Surname should be minimum 3 characters'"
                                   [max-error-msg]="'Surname should be less than 15 characters'"
                >
                </amexio-text-input>
              </amexio-column>
            </amexio-row>

          </amexio-body>
          <amexio-action>
            <amexio-button [type]= "'default'"(onClick)="showBasicWindowNonMaterial = false" label="Cancel"></amexio-button>
            <amexio-button [type]="'theme-color'" (onClick)="showBasicWindowNonMaterial = false" label="Save"></amexio-button>
          </amexio-action>

        </amexio-window>

      </amexio-column>
      <amexio-column [size]="4">

      </amexio-column>
      <amexio-column [size]="4">

        <amexio-row>
          <amexio-column [size]="'12'">

          </amexio-column>
        </amexio-row>
      </amexio-column>

    </amexio-row>
    </amexio-body>
  </amexio-card>

